<footer>
    <div class="ly_footer">
      <div class="ly_footer_inner">
        <nav>
          <ul class="bl_footerNav bl_footerNav01">
            <li class="bl_footerNav_item">
              <a class="bl_footerNav_link" href="#">事業分野</a>
              <ul class="bl_footerChildNav">
                <li class="bl_footerChildNav_item">
                  <a class="bl_footerChildNav_link" href="#">2050年カーボンニュートラル社会の実現に向けた貢献</a>
                </li>
                <li class="bl_footerChildNav_item">
                  <a class="bl_footerChildNav_link" href="#">地震防災・ 地下空間利用への貢献</a>
                </li>
                <li class="bl_footerChildNav_item">
                  <a class="bl_footerChildNav_link" href="#">資源・エネルギー 安定供給への貢献</a>
                </li>
              </ul>
            </li>
            <li class="bl_footerNav_item">
              <a class="bl_footerNav_link" href="#">技術サービス</a>
              <ul class="bl_footerChildNav">
                <li class="bl_footerChildNav_item">
                  <a class="bl_footerChildNav_link" href="#">陸上ブロードバンド地震探査サービス</a>
                </li>
                <li class="bl_footerChildNav_item">
                  <a class="bl_footerChildNav_link" href="#">海上高分解能地震探査サービス</a>
                </li>
                <li class="bl_footerChildNav_item">
                  <a class="bl_footerChildNav_link" href="#">高精度物理探査データ処理・解析サービス</a>
                </li>
                <li class="bl_footerChildNav_item">
                  <a class="bl_footerChildNav_link" href="#">DX-AI・磁気媒体変換技術サービス</a>
                </li>
                <li class="bl_footerChildNav_item">
                  <a class="bl_footerChildNav_link" href="#">地質総合解析サービス</a>
                </li>
                <li class="bl_footerChildNav_item">
                  <a class="bl_footerChildNav_link" href="#">グローバル地表観測・変位解析サービス</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="bl_footerNav">
            
            <li class="bl_footerNav_item">
              <a class="bl_footerNav_link" href="#">会社概要</a>
            </li>
            <li class="bl_footerNav_item">
              <a class="bl_footerNav_link" href="#">トピックス</a>
            </li>
            <li class="bl_footerNav_item">
              <a class="bl_footerNav_link" href="#">関連リンク</a>
            </li>
          </ul>
        </nav>

        <div class="ly_footerBottom">

          <a class="bl_footerUtils_logo" href="#"><img src="/images/common/jgi_japanease_logo.svg" alt=""></a>
          <div class="bl_footerUtils">
            <nav class="bl_footerBottomNav">
              <ul class="bl_footerBottomNavLink">
                <li class="bl_footerBottomNavLink_item">
                  <a class="bl_footerBottomNavLink_link" href="#">プライバシーポリシー</a>
                </li>
                <li class="bl_footerBottomNavLink_item">
                  <a class="bl_footerBottomNavLink_link" href="#">サイトのご使用にあたって
                  </a>
                </li>
              </ul>
              <ul class="bl_footerBottomNavLink">
                <li class="bl_footerBottomNavLink_item bl_footerBottomNavLink_item__sp">
                  <a class="bl_footerBottomNavLink_link" href="#">ISO9001：2015,<br class="hp_spOnly">　ISO14001：2015,<br class="hp_spOnly">　ISO45001：2018 認証取得</a>
                </li>
                <li class="bl_footerBottomNavLink_item">
                  <a class="bl_footerBottomNavLink_link" href="#">Quality Policy
                  </a>
                </li>
                <li class="bl_footerBottomNavLink_item">
                  <a class="bl_footerBottomNavLink_link" href="#">HSE Policy
                  </a>
                </li>
              </ul>
            </nav>

            <ul class="bl_CertificationList">
<li class="bl_CertificationItem">
  <img src="/images/common/secure_icon.svg" alt="">
</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.ly_footer_inner -->
    </div>
    <!-- /.ly_footer -->
    <div class="ly_copyright">
      <div class="ly_footer_inner">
        <small class="el_footerCopyright">Copyright (c) JGI, Inc. All Rights Reserved.</small>
      </div>
      <!-- /.ly_footer_inner -->
    </div>
    <!-- /.ly_footer hp_btGray -->
  </footer>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="/assets/js/main.js"></script>
</body>

</html>