<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>
    <%= meta.title %>
  </title>
  <meta name="description" content="<%= meta.description %>">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
  <!-- css -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
  <link rel="stylesheet" href="assets/css/style.css">
  
</head>


<body id="<%= meta.id %>">
  <header class="ly_header">
    <div class="bl_headerUtils">
      <div class="bl_headerUtilsLeft">
        <a class="bl_headerUtils_logo" href="index.html"><img src="images/common/jgi_logo.svg" alt=""></a>
        <a class="bl_headerUtils_logo hp_pcOnly" href="index.html"><img src="images/common/jgi_japanease_logo.svg" alt=""></a>
      </div>
      <div class="bl_headerUtilsRight">
        <p class="bl_headerUtilsRight_centence">地質調査業、建設コンサルタント業、測量業</p>
        <a class="el_btn el_btn__contact" href="contact.html">
          <span class="hp_mailIcon">お問い合わせ</span>
        </a>
      </div>
      <button type="button" id="btn20" class="openbtn" aria-controls="global-nav" aria-expanded="false">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <!-- /.bl_headerUtils -->
    <nav class="bl_headerNav">
      <ul class="bl_headerNavList">
        <li class="bl_headerNavList_item">
          <a class="bl_headerNavList_link" href="businessfield.html">
            <span>事業分野</span>
            </a>
        
          <ul class="bl_headerNavListChild">
            <li class="bl_headerNavListChild_item">
              <a href="carbonneutral.html" class="bl_headerNavListChild_link">2050年カーボンニュートラル社会の
                実現に向けた貢献</a>
            </li>
            <li class="bl_headerNavListChild_item">
              <a href="disasterprevention.html" class="bl_headerNavListChild_link">
                地震防災・地下空間利用への貢献</a>
            </li>
            <li class="bl_headerNavListChild_item">
              <a href="resource.html" class="bl_headerNavListChild_link">
                資源・エネルギー安定供給への貢献</a>
            </li>
          </ul>
        </li>
        <li class="bl_headerNavList_item">
          <a class="bl_headerNavList_link" href="#">
            <span>技術サービス</span>
            </a>
            <ul class="bl_headerNavListChild">
              <li class="bl_headerNavListChild_item">
                <a href="landbroadband.html" class="bl_headerNavListChild_link">陸上ブロードバンド地震探査サービス</a>
              </li>
              <li class="bl_headerNavListChild_item">
                <a href="highresolutionradar.html" class="bl_headerNavListChild_link">海上高分解能地震探査サービス</a>
              </li>
              <li class="bl_headerNavListChild_item">
                <a href="highprecisionphysics.html" class="bl_headerNavListChild_link">高精度物理探査データ処理・解析サービス</a>
              </li>
              <li class="bl_headerNavListChild_item">
                <a href="magneticmediaconvert.html" class="bl_headerNavListChild_link">DX-AI・磁気媒体変換技術サービス</a>
              </li>
              <li class="bl_headerNavListChild_item">
                <a href="geologicalsynthesis.html" class="bl_headerNavListChild_link">地質総合解析サービス</a>
              </li>
              <li class="bl_headerNavListChild_item">
                <a href="surfaceobservation.html" class="bl_headerNavListChild_link">グローバル地表観測・変位解析サービス</a>
              </li>
            </ul>
        </li>
        <li class="bl_headerNavList_item">
          <a class="bl_headerNavList_link" href="about.html">
            <span>会社概要</span>
            </a>
        </li>
        <li class="bl_headerNavList_item">
          <a class="bl_headerNavList_link" href="#">
            <span>研究開発システム（仮称）</span>
            </a>
        </li>
        <li class="bl_headerNavList_item">
          <a class="bl_headerNavList_link hp_contentnone" href="topics.html">
            <span>トピックス</span>
            </a>
        </li>
        <li class="bl_headerNavList_item hp_spOnly hp_textCenter">
        <a class="el_btn el_btn__contact" href="contact.html">
          <span class="hp_mailIcon">お問い合わせ</span>
        </a>
        </li>
      </ul>
    </nav>

    <!-- /.ly_header_inner -->
  </header>