<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<title><%= meta.title %></title>
<meta name="description" content="<%= meta.description %>">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
<!-- css -->
<link rel="stylesheet" href="/assets/css/style.css">
</head>


<body>
    <header class="ly_header">
        <div class="ly_header_inner">
          <div class="bl_headerUtils">
            <a class="bl_headerUtils_logo" href="#"><img src="images/common/jgi_logo.svg" alt=""></a>
            <p>地質調査業、建設コンサルタント業、測量業</p>
            <a class="el_btn" href="#">お問い合わせ</a>
          </div>
          <!-- /.bl_headerUtils -->
          <nav>
            <ul class="bl_headerNav">
              <li class="bl_headerNav_item">
                <a class="bl_headerNav_link" href="#">事業分野</a>
              </li>
              <li class="bl_headerNav_item">
                <a class="bl_headerNav_link" href="#">技術サービス</a>
              </li>
              <li class="bl_headerNav_item">
                <a class="bl_headerNav_link" href="#">会社概要</a>
              </li>
              <li class="bl_headerNav_item">
                <a class="bl_headerNav_link" href="#">研究開発システム</a>
              </li>
              <li class="bl_headerNav_item">
                <a class="bl_headerNav_link" href="#">トピックス</a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- /.ly_header_inner -->
      </header>