<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>
    <%= meta.title %>
  </title>
  <meta name="description" content="<%= meta.description %>">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
  <!-- css -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
  <link rel="stylesheet" href="/assets/css/style.css">
  
</head>


<body id="<%= meta.id %>">
  <header class="ly_header">
    <div class="bl_headerUtils">
      <div class="bl_headerUtilsLeft">
        <a class="bl_headerUtils_logo" href="#"><img src="/images/common/jgi_logo.svg" alt=""></a>
        <a class="bl_headerUtils_logo hp_pcOnly" href="#"><img src="/images/common/jgi_japanease_logo.svg" alt=""></a>
      </div>
      <div class="bl_headerUtilsRight">
        <p class="bl_headerUtilsRight_centence">地質調査業、建設コンサルタント業、測量業</p>
        <a class="el_btn el_btn__contact" href="#">
          <span class="hp_mailIcon">お問い合わせ</span>
        </a>
      </div>
      <button type="button" id="btn20" class="openbtn" aria-controls="global-nav" aria-expanded="false">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <!-- /.bl_headerUtils -->
    <nav class="bl_headerNav">
      <ul class="bl_headerNavList">
        <li class="bl_headerNavList_item">
          <a class="bl_headerNavList_link" href="businessfield.html">
            <span>事業分野</span>
            </a>
          <div class="bl_headerNavListChild bl_headerNavListChild__pc">
            <div class="ly_inner">
              <a href="businessfield.html" class="bl_headerNavListChild_gotoTop">＞事業分野トップ</a>
              <ul class="bl_bussinesLink_list">
                <li class="bl_bussinesLink_item bl_bussinesLink_item__large anime_hoverItem">
                    <a href="businessfield.html#cont01" class="bl_bussinesLink_itemlink">
                        <div class="bl_bussinesLink_item_inner">
                            <div class="bl_imgWrapper">
                                <img src="/images/top/bussines_link01.jpg" alt="" class="bl_bussinesLink_thumb">
                            </div>
                            <div class="bl_bussinesLink_item_body">
                                <h3 class="bl_bussinesLink_ttl">2050年カーボンニュートラル<br>
                                    社会の実現に向けた貢献</h3>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="bl_bussinesLink_item anime_hoverItem">
                    <a href="businessfield.html#cont02" class="bl_bussinesLink_itemlink">
                        <div class="bl_bussinesLink_item_inner">
                            <div class="bl_imgWrapper">
                                <img src="/images/top/bussines_link02 .jpg" alt=""
                                    class="bl_bussinesLink_thumb">
                            </div>

                            <div class="bl_bussinesLink_item_body">
                                <h3 class="bl_bussinesLink_ttl">地震防災・<br>
                                    地下空間利用への貢献</h3>
                            </div>

                        </div>
                    </a>
                </li>
                <li class="bl_bussinesLink_item anime_hoverItem">
                    <a href="businessfield.html#cont03" class="bl_bussinesLink_itemlink">
                        <div class="bl_bussinesLink_item_inner">
                            <div class="bl_imgWrapper">
                                <img src="/images/top/bussines_link03.jpg" alt="" class="bl_bussinesLink_thumb">
                            </div>

                            <div class="bl_bussinesLink_item_body">
                                <h3 class="bl_bussinesLink_ttl">資源・エネルギー<br>
                                    安定供給への貢献</h3>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            </div>
          </div>


          <ul class="bl_headerNavListChild hp_spOnly">
            <li class="bl_headerNavListChild_item">
              <a href="" class="bl_headerNavListChild_link">2050年カーボンニュートラル社会の
                実現に向けた貢献</a>
            </li>
            <li class="bl_headerNavListChild_item">
              <a href="" class="bl_headerNavListChild_link">
                地震防災・地下空間利用への貢献</a>
            </li>
            <li class="bl_headerNavListChild_item">
              <a href="" class="bl_headerNavListChild_link">
                資源・エネルギー安定供給への貢献</a>
            </li>
          </ul>
        </li>
        <li class="bl_headerNavList_item">
          <a class="bl_headerNavList_link" href="#">
            <span>技術サービス</span>
            </a>
          <div class="bl_headerNavListChild bl_headerNavListChild__pc">
            <div class="ly_inner">
              <ul class="un_topBusinessCard bl_card bl_card__3col">
                <li class="bl_card_item bl_card_item__radius anime_hoverItem">
                    <a href="landbroadband.html">
                        <div class="bl_imgWrapper">
                            <img src="/images/top/service01.jpg" alt="" class="bl_card_img">
                        </div>

                        <h3 class="bl_card_lv3Heading">陸上ブロードバンド<br>
                            地震探査サービス</h3>
                    </a>
                </li>
                <li class="bl_card_item bl_card_item__radius anime_hoverItem">
                    <a href="">
                        <div class="bl_imgWrapper">
                            <img src="/images/top/service02.jpg" alt="" class="bl_card_img">
                        </div>

                        <h3 class="bl_card_lv3Heading">海上高分解能<br>
                            地震探査サービス</h3>
                    </a>
                </li>
                <li class="bl_card_item bl_card_item__radius anime_hoverItem">
                    <div class="bl_imgWrapper">
                        <img src="/images/top/service03.jpg" alt="" class="bl_card_img">
                    </div>

                    <h3 class="bl_card_lv3Heading">高精度物理探査データ<br>
                        処理・解析サービス</h3>
                </li>
                <li class="bl_card_item bl_card_item__radius anime_hoverItem">
                    <a href="">
                        <div class="bl_imgWrapper">
                            <img src="/images/top/service04.jpg" alt="" class="bl_card_img">
                        </div>

                        <h3 class="bl_card_lv3Heading">DX-AI・磁気媒体<br>
                            変換技術サービス</h3>
                    </a>
                </li>
                <li class="bl_card_item bl_card_item__radius anime_hoverItem">
                    <a href="">
                        <div class="bl_imgWrapper">
                            <img src="/images/top/service05.jpg" alt="" class="bl_card_img">
                        </div>

                        <h3 class="bl_card_lv3Heading">地質総合<br>
                            解析サービス</h3>
                    </a>
                </li>
                <li class="bl_card_item bl_card_item__radius anime_hoverItem">
                    <a href="">
                        <div class="bl_imgWrapper">
                            <img src="/images/top/service06.jpg" alt="" class="bl_card_img">
                        </div>

                        <h3 class="bl_card_lv3Heading">グローバル地表観測・<br>
                            変位解析サービス</h3>
                    </a>
                </li>
            </ul>
            </div>
          </div>
        </li>
        <li class="bl_headerNavList_item">
          <a class="bl_headerNavList_link" href="about.html">
            <span>会社概要</span>
            </a>
        </li>
        <li class="bl_headerNavList_item">
          <a class="bl_headerNavList_link" href="#">
            <span>研究開発システム</span>
            </a>
        </li>
        <li class="bl_headerNavList_item">
          <a class="bl_headerNavList_link hp_contentnone" href="#">
            <span>トピックス</span>
            </a>
        </li>
        <li class="bl_headerNavList_item hp_spOnly hp_textCenter">
        <a class="el_btn el_btn__contact" href="contact.html">
          <span class="hp_mailIcon">お問い合わせ</span>
        </a>
        </li>
      </ul>
    </nav>

    <!-- /.ly_header_inner -->
  </header>