<%
 const pageMeta = {
  title: '会社概要',
  description: '会社概要の説明文です'
 }
%>
<%- include("common/_header", { meta: pageMeta }) %>
<!-- content -->
<div id="content">
<div class="inner">

<p>トップページに出力すること</p>

</div><!-- /inner -->
</div><!-- /content -->
<%- include("common/_footer") %>

