<% const pageMeta={ id: 'about',title: '会社概要' , description: '会社概要の説明文です' } %>
    <%- include("common/_header", { meta: pageMeta }) %>

        <main>
            <div class="ly_MV">
                <div class="ly_MV_inner">
                    <h1 class="el_lv1Heading">会社概要</h1>
                    <ul class="un_aboutNav">
                        <li class="un_aboutNav_item"><a class="un_aboutNav_item_link anchor" href="#overview">会社概要</a></li>
                        <li class="un_aboutNav_item"><a class="un_aboutNav_item_link anchor" href="#history">沿革</a></li>
                        <li class="un_aboutNav_item"><a class="un_aboutNav_item_link anchor" href="#qualified">有資格者</a></li>
                        <li class="un_aboutNav_item"><a class="un_aboutNav_item_link anchor" href="#organization">社内組織</a></li>
                        <li class="un_aboutNav_item"><a class="un_aboutNav_item_link anchor" href="#suppliers">取引先</a></li>
                    </ul>
                </div>
            </div>


            <section class="ly_overview ly_sec" id="overview">
                <div class="ly_inner">
                    <h2 class="un_about_ttl">会社概要</h2>
                    <div class="bl_horizTable bl_horizTable__mdScroll">
                        <table>
                            <tbody>
                                <tr>
                                    <th>会 社 名</th>
                                    <td>株式会社 地球科学総合研究所</td>
                                </tr>
                                <tr>
                                    <th>代表取締役社長</th>
                                    <td>阿部　進</td>
                                </tr>
                                <tr>
                                    <th>事業分野</th>
                                    <td>
                                        (1)物理探査<br>
                                        データ取得・処理・解析<br>
                                        コンサルティング業務（国内・海外）<br>
                                        研究・技術開発<br>
                                        機器・ソフトウェア販売<br>
                                        リモートセンシング<br>
                                        (2)地質調査<br>
                                        地質分析・解析・評価<br>
                                        コンサルティング業務（国内・海外）<br>
                                        (3)測量<br>
                                        陸上測量<br>
                                        水路測量
                                    </td>
                                </tr>
                                <tr>
                                    <th>創立年月日</th>
                                    <td>昭和58年04月01日</td>
                                </tr>
                                <tr>
                                    <th>資本金</th>
                                    <td>21億円</td>
                                </tr>
                                <tr>
                                    <th>株主</th>
                                    <td>石油資源開発株式会社</td>
                                </tr>
                                <tr>
                                    <th>住所</th>
                                    <td>

                                        <address>
                                            本社<br>
                                            〒112-0012　東京都文京区大塚一丁目5番21号<br class="hp_spOnly"> 　＞MAP<br>
                                            電話：03-5978-8021(代表)　<br class="hp_spOnly">Fax：03-5978-8060
                                        </address>
                                        嵐山研究センター<br>
                                        〒355-0204　<br class="hp_spOnly">埼玉県比企郡嵐山町花見台7番5号 <br class="hp_spOnly">　＞MAP<br>
                                        電話：0493-63-1234(代表)　<br class="hp_spOnly">Fax：0493-63-1240
                                        <address>
                                            秋田営業所<br>
                                            〒011-0901　秋田県秋田市寺内字蛭根85-2<br>
                                            電話：018-827-6266　<br class="hp_spOnly">Fax共用
                                        </address>
                                        <address>
                                            長岡営業所<br>
                                            〒940-0014　<br class="hp_spOnly">新潟県長岡市北園町3-21<br>
                                            電話：0258-22-6391(代表)　<br class="hp_spOnly">Fax：0258-22-6392
                                        </address>
                                    </td>
                                </tr>
                                <tr>
                                    <th>登録</th>
                                    <td>
                                        地質調査業<br>
                                        質03第1596号　<br class="hp_spOnly">登録年月日：令和3年05月16日
                                        <br><br>
                                        建設コンサルタント業<br>
                                        建30第5032号　<br class="hp_spOnly">登録年月日：平成30年02月16日
                                        <br><br>
                                        測量業<br>
                                        第(7)-17281号　<br class="hp_spOnly">登録年月日：平成29年12月23日
                                    </td>
                                </tr>
                                <tr>
                                    <th>従業員数</th>
                                    <td>120名(令和3年4月1日現在)</td>
                                </tr>
                                <tr>
                                    <th>当社役員一覧
                                        <br>（令和3年6月25日現在）
                                    </th>
                                    <td>
                                        <ul class="bl_bulletList">
                                            <li>代表取締役社長 阿部 進</li>
                                            <li>取締役 淺川 栄一</li>
                                            <li>取締役 山根 照真</li>
                                            <li>取締役 安東 功士</li>
                                            <li>取締役（非常勤） 手塚 和彦</li>
                                            <li>監査役（非常勤） 浜田 康史</li>
                                            <li>監査役（非常勤） 村山 隆平</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>


            <!-- /.bl_horizTable bl_horizTable__mdScroll -->
            <section class="ly_histroy ly_sec" id="history">
                <div class="ly_inner">
                    <h2 class="un_about_ttl">沿革</h2>
                    <div class="bl_horizTable bl_horizTable__mdScroll">
                        <table>
                            <tbody>
                                <tr>
                                    <th>1983年</th>
                                    <td>株式会社地球科学総合研究所創立<br>
                                        (石油資源開発株式会社の物理探鉱本部を母体として港区赤坂に設立）</td>
                                </tr>
                                <tr>
                                    <th>1984年</th>
                                    <td>石油資源開発株式会社より電算・解析部門の移管<br>
                                        北京事務所開設</td>
                                </tr>
                                <tr>
                                    <th>1986年</th>
                                    <td>石油資源開発株式会社より現場作業部門及び<br>
                                        札幌・秋田・長岡各事務所の移管</td>
                                </tr>
                                <tr>
                                    <th>1994年</th>
                                    <td>本社を品川区東品川へ移転</td>
                                </tr>
                                <tr>
                                    <th>1995年</th>
                                    <td>嵐山研究センター開設</td>
                                </tr>
                                <tr>
                                    <th>1998年</th>
                                    <td>本社を文京区大塚へ移転</td>
                                </tr>
                                <tr>
                                    <th>2002年</th>
                                    <td>札幌・秋田・長岡各営業所開設</td>
                                </tr>
                                <tr>
                                    <th>2003年</th>
                                    <td>ISO9001:2000品質マネジメントシステム認証取得</td>
                                </tr>
                                <tr>
                                    <th>2009年</th>
                                    <td>ISO9001:2008品質マネジメントシステム認証取得</td>
                                </tr>
                                <tr>
                                    <th>2011年</th>
                                    <td>PT ECI社をエージェントとしてインドネシアでサービスを開始</td>
                                </tr>
                                <tr>
                                    <th>2016年</th>
                                    <td>ISO14001:2015環境マネジメントシステム認証取得 <br>
                                        OHSAS18001：2007労働安全衛生マネジメントシステム認証取得</td>
                                </tr>
                                <tr>
                                    <th>2018年</th>
                                    <td>ISO9001:2015品質マネジメントシステム認証取得</td>
                                </tr>
                                <tr>
                                    <th>2020年</th>
                                    <td>ISO45001:2018労働安全衛生マネジメントシステム認証取得 (OHSASから移行)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>



            <section class="ly_qualified ly_sec" id="qualified">
                <div class="ly_inner">
                    <h2 class="un_about_ttl">有資格者</h2>
                    <ul class="bl_bulletList">
                        <li>理学博士:6名</li>
                        <li>技術士（総合技術監理部門）:2名</li>
                        <li>技術士（応用理学部門 地質）:11名</li>
                        <li>技術士（応用理学部門 地球物理及び地球化学）:1名</li>
                        <li>地質調査技士:1名</li>
                        <li>測量士:10名</li>
                        <li>測量士補:12名</li>
                        <li>港湾海洋調査士:1名</li>
                    </ul>

                    <p class="el_note">令和3年6月25日現在</p>
                </div>
            </section>


            <section class="ly_organization ly_sec" id="organization">
                <div class="ly_inner">
                    <h2 class="un_about_ttl">社内組織</h2>
                    <h3 class="un_organization_lv3Heading">本社</h3>
                    <ul class="bl_bulletList un_organizationList">
                        <li>
                            総務部<br>
                            TEL.03-5978-8021 / <br class="hp_spOnly">FAX.03-5978-8060
                        </li>
                        <li>
                            営業部<br>
                            TEL.03-5978-8024 / <br class="hp_spOnly">FAX.03-5978-8060
                        </li>
                        <li>
                            新事業開発部<br>
                            TEL.03-5978-8049 / <br class="hp_spOnly">FAX.03-5978-8060
                        </li>
                        <li>
                            技術企画・IT部<br>
                            TEL.03-5978-8029 / <br class="hp_spOnly">FAX.03-5978-8057
                        </li>
                        <li>
                            HSEQ室<br>
                            TEL.03-5978-8039 / <br class="hp_spOnly">FAX.03-5978-8058
                        </li>
                        <li>
                            計測技術部<br>
                            TEL.03-5978-8025 / <br class="hp_spOnly">FAX.03-5978-8058
                        </li>
                        <li>
                            地質部<br>
                            TEL.03-5978-8038 / <br class="hp_spOnly">FAX.03-5978-8058
                        </li>
                        <li>
                            探査事業部<br>
                            TEL.03-5978-8028 / <br class="hp_spOnly">FAX.03-5978-8057
                        </li>
                        <li>
                            研究開発部<br>
                            TEL.03-5978-8034 / <br class="hp_spOnly">FAX.03-5978-8057
                        </li>
                        <li>
                            嵐山研究センター<br>
                            TEL.0493-63-1234 / <br class="hp_spOnly">FAX.0493-63-1240
                        </li>
                    </ul>
                    <h3 class="un_organization_lv3Heading">国内事務所</h3>
                    <ul class="bl_bulletList un_organizationList">
                        <li>
                            総務部<br>
                            TEL.03-5978-8021 / <br class="hp_spOnly">FAX.03-5978-8060
                        </li>
                        <li>
                            営業部<br>
                            TEL.03-5978-8024 / <br class="hp_spOnly">FAX.03-5978-8060
                        </li>
                    </ul>
                    <p class="el_note">令和3年6月25日現在</p>
                </div>
            </section>

            <section class="ly_suppliers ly_sec" id="suppliers">
                <div class="ly_inner">
                    <h2 class="un_about_ttl">取引先（順不同）</h2>
                    <div class="ly_suppliers_body">
                        <div class="ly_suppliers_left">
                            <h3 class="ly_suppliers_ttl">政府系機関・公益法人</h3>
                            <ul class="bl_bulletList">
                                <li>資源エネルギー庁</li>
                                <li>原子力規制庁</li>
                                <li>海上保安庁（JCG）</li>
                                <li>独立行政法人 石油天然ガス・金属鉱物資源機構（JOGMEC）</li>
                                <li>国立研究開発法人 海洋研究開発機構（JAMSTEC）</li>
                                <li>国立研究開発法人 産業技術総合研究所（AIST）</li>
                                <li>国立研究開発法人 防災科学技術研究所（NIED）</li>
                                <li>国立研究開発法人 日本原子力研究開発機構（JAEA）</li>
                                <li>独立行政法人 日本貿易振興機構（JETRO）</li>
                                <li>一般財団法人 宇宙システム開発利用推進機構</li>
                                <li>公益財団法人 地震予知総合研究振興会（ADEP）</li>
                                <li>公益財団法人 地球環境産業技術研究機構（RITE）</li>
                                <li>一般財団法人 エンジニアリング協会（ENAA）</li>
                                <li>一般財団法人 石油開発情報センター（ICEP）</li>
                                <li>一般財団法人 電力中央研究所（CRIEPI）</li>
                            </ul>
                        </div>
                        <div class="ly_suppliers_right">
                            <h3 class="ly_suppliers_ttl">石油開発会社等</h3>
                            <ul class="bl_bulletList">
                                <li>石油資源開発株式会社</li>
                                <li>JX石油開発株式会社</li>
                                <li>ジャパン石油開発株式会社</li>
                                <li>株式会社INPEX</li>
                                <li>三井石油開発株式会社</li>
                                <li>カナダオイルサンド株式会社</li>
                                <li>コスモ石油株式会社</li>
                                <li>カタール石油開発株式会社</li>
                                <li>日本ＣＣＳ調査株式会社</li>
                            </ul>

                            <h3 class="ly_suppliers_ttl">大学</h3>
                            <ul class="bl_bulletList">
                                <li>東京大学、京都大学、千葉大学　他</li>
                            </ul>

                            <h3 class="ly_suppliers_ttl">地方公共団体</h3>
                            <ul class="bl_bulletList">
                                <li>千葉県、東京都、神奈川県、愛知県、<br>
                                    三重県、鳥取県、川崎市、横浜市　他</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </section>

        </main>

        <%- include("common/_footer") %>