<% const pageMeta={ id: 'businessField' ,title: '事業分野' , description: '事業分野の説明文です' } %>
    <%- include("common/_header", { meta: pageMeta }) %>
        <!-- content -->
        <main>
            <div class="ly_MV">
                <div class="ly_MV_inner">
                    <h1 class="el_lv1Heading">事業分野</h1>
                    <p class="un_MV_txt">地下資源探査等に特化した豊富な技術力でお客様の課題<br class="hp_pcOnly">に対し、様々なアプローチによって解決へと導きます。</p>
                </div>
            </div>

            <section class="ly_businessField">
                <div class="ly_inner">
                    <div class="un_businessField_head">
                        <h2 class="un_businessField_lv2Heading">2050年カーボン<br class="hp_spOnly">ニュートラル社会の<br>実現に向けた貢献</h2>
                    </div>
                    <ul class="un_businessField_list">
                        <li class="un_businessField_list_item un_businessField_list_item__col3">
                            <div class="un_businessField_list_item_desc">
                                <h3 class="un_businessField_list_item_desc_ttl">CCS・CCUS</h3>
                                <p class="un_businessField_list_item_desc_txt">CO2の時空間挙動を<br>把握・監視</p>
                            </div>
                            <img src="/images/businessField/businessField_col3_item_img_01.png" alt="" class="un_businessField_list_item_img un_businessField_list_item_img__col3">
                        </li>
                        <li class="un_businessField_list_item un_businessField_list_item__col3">
                            <div class="un_businessField_list_item_desc">
                                <h3 class="un_businessField_list_item_desc_ttl">洋上風力発電</h3>
                                <p class="un_businessField_list_item_desc_txt">高精度地盤情報の提供</p>
                            </div>
                            <img src="/images/businessField/businessField_col3_item_img_02.png" alt="" class="un_businessField_list_item_img un_businessField_list_item_img__col3">
                        </li>
                        <li class="un_businessField_list_item un_businessField_list_item__col3">
                            <div class="un_businessField_list_item_desc">
                                <h3 class="un_businessField_list_item_desc_ttl">地熱資源開発</h3>
                                <p class="un_businessField_list_item_desc_txt">断裂系を可視化する</p>
                            </div>
                            <img src="/images/businessField/businessField_col3_item_img_03.png" alt="" class="un_businessField_list_item_img un_businessField_list_item_img__col3">
                        </li>
                    </ul>
                    <div class="un_businessFieldBtnWrapper">
                        <a href="" class="el_btn un_businessFieldBtn">
                            <span class="hp_arrowIcon">詳しく見る</span>
                        </a>
                    </div>
                </div>
            </section>

            <section class="ly_businessField">
                <div class="ly_inner">
                    <div class="un_businessField_head">
                        <h2 class="un_businessField_lv2Heading">地震防災・<br class="hp_spOnly">地下空間利用への貢献</h2>
                    </div>
                    <ul class="un_businessField_list">
                        <li class="un_businessField_list_item un_businessField_list_item__col4">
                            <div class="un_businessField_list_item_desc">
                                <h3 class="un_businessField_list_item_desc_ttl">学術防災<br>分野への寄与</h3>
                            </div>
                            <img src="/images/businessField/businessField_col4_item_img_01.jpg" alt="" class="un_businessField_list_item_img un_businessField_list_item_img__col4">
                        </li>
                        <li class="un_businessField_list_item un_businessField_list_item__col4">
                            <div class="un_businessField_list_item_desc">
                                <h3 class="un_businessField_list_item_desc_ttl">S波情報の取得</h3>
                            </div>
                            <img src="/images/businessField/businessField_col4_item_img_02.jpg" alt="" class="un_businessField_list_item_img un_businessField_list_item_img__col4">
                        </li>
                        <li class="un_businessField_list_item un_businessField_list_item__col4">
                            <div class="un_businessField_list_item_desc">
                                <h3 class="un_businessField_list_item_desc_ttl">高精度速度推定</h3>
                                <p class="un_businessField_list_item_desc_txt">マルチスケール探査</p>
                            </div>
                            <img src="/images/businessField/businessField_col4_item_img_03.jpg" alt="" class="un_businessField_list_item_img un_businessField_list_item_img__col4">
                        </li>
                        <li class="un_businessField_list_item un_businessField_list_item__col4">
                            <div class="un_businessField_list_item_desc">
                                <h3 class="un_businessField_list_item_desc_ttl">土木・インフラ<br>維持管理<br>分野への貢献</h3>
                            </div>
                            <img src="/images/businessField/businessField_col4_item_img_04.jpg" alt="" class="un_businessField_list_item_img un_businessField_list_item_img__col4">
                        </li>
                    </ul>
                    <div class="un_businessFieldBtnWrapper">
                        <a href="" class="el_btn un_businessFieldBtn">
                            <span class="hp_arrowIcon">詳しく見る</span>
                        </a>
                    </div>
                </div>
            </section>

            <section class="ly_businessField">
                <div class="ly_inner">
                    <div class="un_businessField_head">
                        <h2 class="un_businessField_lv2Heading">資源・エネルギー<br class="hp_spOnly">安定供給への貢献</h2>
                    </div>
                    <ul class="un_businessField_list">
                        <li class="un_businessField_list_item un_businessField_list_item__col1">
                            <div class="un_businessField_list_item_desc">
                                <h3 class="un_businessField_list_item_desc_ttl">地下深部の炭化水素<br class="hp_spOnly">貯留層を対象とした<br>高精度三次元<br class="hp_spOnly">物理探査の実施</h3>
                            </div>
                            <img src="/images/businessField/businessField_col1_item_img_01.png" alt="" class="un_businessField_list_item_img un_businessField_list_item_img__col1">
                        </li>
                        <li class="un_businessField_list_item un_businessField_list_item__col1">
                            <div class="un_businessField_list_item_desc">
                                <h3 class="un_businessField_list_item_desc_ttl">海洋立国を支える<br class="hp_spOnly">次世代海洋調査技術</h3>
                                <p class="un_businessField_list_item_desc_txt">カーボンニュートラル<br class="hp_spOnly">鉱種の安定供給</p>
                            </div>
                            <img src="/images/businessField/businessField_col1_item_img_02.jpg" alt="" class="un_businessField_list_item_img un_businessField_list_item_img__col1">
                        </li>
                    </ul>
                    <div class="un_businessFieldBtnWrapper">
                        <a href="" class="el_btn un_businessFieldBtn">
                            <span class="hp_arrowIcon">詳しく見る</span>
                        </a>
                    </div>
                </div>
            </section>

        </main>

        </div><!-- /content -->
        <%- include("common/_footer") %>