<% const pageMeta={ id: 'carbonNeutral' ,title: '2050年カーボンニュートラル社会の' , description: '実現に向けた貢献の説明文です' } %>
    <%- include("common/_header", { meta: pageMeta }) %>
        <!-- content -->
        <main>
            <div class="ly_MV">
                <div class="bl_breadcrumbs">
                    <ul class="bl_breadcrumbs_list">
                        <li class="bl_breadcrumbs_item"><a class="bl_breadcrumbs_item_link" href="index.html" title="/">サイトTOP</a></li>
                        <li class="bl_breadcrumbs_item"><a class="bl_breadcrumbs_item_link" href="/businessField.html" title="/">事業分野</a></li>
                        <li class="bl_breadcrumbs_item"><a class="bl_breadcrumbs_item_link" href="/carbonNeutral.html" title="">2050年カーボンニュートラル社会の実現に向けた貢献</a></li>
                    </ul>
                </div>
                <div class="ly_MV_inner">
                    <h1 class="el_lv1Heading">2050<br class="hp_spOnly">年カーボンニュートラル<br class="hp_spOnly">社会の<br class="hp_pcOnly">実現に向けた貢献</h1>
                </div>
            </div>

            <section class="ly_landBroadband">
                <div class="ly_inner">
                    <section id="ccs-ccus">
                      <div class="un_carbonNeutral_head">
                        <h2 class="un_carbonNeutral_head_firstTitle">CCS・CCUS</h2>
                        <h2 class="un_carbonNeutral_head_secondTitle">CO2の時空間挙動を<br class="un_sp_display">把握・監視</h2>
                      </div>
                      <div class="un_carbonNeutral_line"></div>
                      <p class="un_carbonNeutral_text un_text_sp">
                        Carbon Capture and Storage (CCS)は、大規模排出源からのCO2を分離・回収・輸送し、地下1000m以深の孔隙率の高い貯留層に圧入する技術です。貯留層の上位には、泥岩等から組成される遮蔽層が必要となります。当社は、圧入CO2の時空間挙動を把握するための様々な技術パッケージを提供し、CCS・CCUS事業をサポートします。
                      </p>
                      <div class="un_carbonNeutral_image_block">
                        <img class="un_undersea_css_project_diagram_image" src="images/carbonNeutral/undersea_css_project_diagram.png">
                      </div>
                      <p class="un_carbonNeutral_text un_undersea_css_project_bottom_text un_text_sp">
                        当社は、長年に亙って築いてきた三次元地下構造可視化の技術を用いて、CCSに適した貯留層-遮蔽層構造を弾性波探査によって見出し、貯留可能量をはじめとする地下構造の詳細評価と共に、圧入流体の挙動予測を行い、高精度モニタリングシステムの構築・運用・管理を実施しています。
                      </p>
                      <div class="un_carbonNeutral_image_block">
                        <img class="un_workflow_image" src="images/carbonNeutral/workflow.png">
                      </div>
                      <div class="un_carbonNeutral_image_block">
                        <img class="un_seismic_exploration_image" src="images/carbonNeutral/seismic_exploration.png">
                      </div>
                    </section>

                    <section id="offshore-wind-power">
                      <div class="un_carbonNeutral_head">
                        <h2 class="un_carbonNeutral_head_firstTitle">洋上風力発電</h2>
                        <h2 class="un_carbonNeutral_head_secondTitle">断裂系を可視化する</h2>
                      </div>
                      <div class="un_carbonNeutral_line"></div>
                      <p class="un_text_sp">風力発電、特に洋上風力発電は再生可能エネルギーとして大きな注目を集めています。
                        当社は、二次元・三次元の海上高分解能反射法地震探査サービスと共に、着底型地震計を用いたS波速度推定法などの海底地盤調査を中心として、既存文献調査から海底地盤モデル構築とリスク評価までのワンストップ地盤調査サービスを提供し、洋上風力発電の普及に貢献します。
                      </p>
                      <div class="un_carbonNeutral_image_block">
                        <img class="un_seismic_exploration_image" src="images/carbonNeutral/offshore_wind_power.png">
                      </div>
                   </section>

                   <section id="geothermal-resource-development">
                      <div class="un_carbonNeutral_head">
                        <h2 class="un_carbonNeutral_head_firstTitle">地熱資源開発</h2>
                        <h2 class="un_carbonNeutral_head_secondTitle">高精度地盤情報の提供</h2>
                      </div>
                      <div class="un_carbonNeutral_line"></div>
                      <p class="un_text_sp">
                        火山大国日本。その豊富な地熱資源を利用する地熱発電は、季節や天候に左右されにくく、安定的な発電が可能なベースロード電源として期待されています。当社は反射法地震探査、微小地震探査、DAS-VSPを組み合わせた断裂系探査を通して地熱開発事業を支援いたします。
                      </p>
                      <div class="un_carbonNeutral_image_block">
                        <img class="un_geothermal_resource_development_image" src="images/carbonNeutral/geothermal_resource_development.png">
                      </div>
                    </section>

                    <div class="un_carbonNeutral_button_box">
                        <a href="businessField.html" class="un_carbonNeutral_button">
                            <span class="hp_arrowIcon">事業分野一覧に戻る</span>
                        </a>
                    </div>
                </div>
            </section>

        </main>
<%- include("common/_footer") %>