<% const pageMeta={ id: 'carbonNeutral' ,title: '2050年カーボンニュートラル社会の' , description: '実現に向けた貢献の説明文です' } %>
    <%- include("common/_header", { meta: pageMeta }) %>
        <!-- content -->
        <main>
            <div class="ly_MV">
                <div class="bl_breadcrumbs">
                    <ul class="bl_breadcrumbs_list">
                        <li class="bl_breadcrumbs_item"><a class="bl_breadcrumbs_item_link" href="index.html" title="/">サイトTOP</a></li>
                        <li class="bl_breadcrumbs_item"><a class="bl_breadcrumbs_item_link" href="/businessField.html" title="/">事業分野</a></li>
                        <li class="bl_breadcrumbs_item"><a class="bl_breadcrumbs_item_link" href="/earthquakeDisasterPrevention.ejs.html" title="">地震防災・地下空間利用への貢献</a></li>
                    </ul>
                </div>
                <div class="ly_MV_inner">
                    <h1 class="el_lv1Heading">地震防災・<br class="hp_spOnly">地下空間利用への貢献</h1>
                </div>
            </div>

            <section class="ly_landBroadband">
                <div class="ly_inner">
                    <section id="disaster-prevention">
                      <div class="un_carbonNeutral_head">
                        <h2 class="un_carbonNeutral_head_firstTitle">学術防災分野への寄与</h2>
                      </div>
                      <div class="un_carbonNeutral_line"></div>
                      <p class="un_carbonNeutral_text un_text_sp">
                        当社は、多様な地質環境や調査スケールに対応可能な多種・多量の地震探査システムを保有しており、地震動増幅に強い影響を与える浅部地盤の調査から、深さ20～30㎞の地震発生層を含む深部地殻の学術的な調査に至る様々な規模を探査対象にすることができます。また、学術的な防災関連調査の他にも、原子力発電所等の立地安全性評価、構造物基礎の設計施工、維持管理に関わる土木分野、さらには、地層処分や地中貯留などの環境分野への貢献を目的として、活断層、軟弱地盤、シャローガスなど地質リスク回避の観点から有用な情報を提供しています。
                      </p>
                      <div class="un_carbonNeutral_image_block">
                        <img class="un_undersea_css_project_diagram_image" src="images/earthquakeDisasterPrevention/seismic-exploration.png">
                      </div>

                      <div class="un_carbonNeutral_image_block">
                        <img class="un_undersea_css_project_diagram_image" src="images/earthquakeDisasterPrevention/vibrator.png">
                        <img class="un_undersea_css_project_diagram_image" src="images/earthquakeDisasterPrevention/fault- visualization.png">
                      </div>
                    </section>

                    <section id="s-wave">
                            <div class="un_carbonNeutral_head">
                              <h2 class="un_carbonNeutral_head_firstTitle">S波情報の取得</h2>
                            </div>
                            <div class="un_carbonNeutral_line"></div>
                            <p class="un_carbonNeutral_text un_text_sp">
                              地震工学や土木工学に関連した地盤調査においては、S波速度は重要な地盤情報となります。当社は、浅層に対してはS波インパクター、深さ1km程度の中深層に対してはS波バイブレータを用いて、工学的基盤面から地震基盤面までの高分解能な地盤調査を提案します。
                            </p>
                            <div class="un_carbonNeutral_image_block">
                              <img class="un_undersea_css_project_diagram_image" src="images/earthquakeDisasterPrevention/recording-example.png">
                            </div>
                            <div class="un_carbonNeutral_image_block">
                              <img class="un_undersea_css_project_diagram_image" src="images/earthquakeDisasterPrevention/foundation-surface.png">
                              <img class="un_undersea_css_project_diagram_image" src="images/earthquakeDisasterPrevention/s-wave.png">
                            </div>
                      </section>

                      <section id="multiscale-exploration">
                              <div class="un_carbonNeutral_head">
                                <h2 class="un_carbonNeutral_head_firstTitle">高精度速度推定<br class="hp_spOnly"> ̶マルチスケール探査ー</h2>
                              </div>
                              <div class="un_carbonNeutral_line"></div>
                              <p class="un_carbonNeutral_text un_text_sp">
                                当社では、従来型の有線テレメトリーシステムに、Wi-Fi伝送を伴う独立型データ収録システムを複合化させ、長大受振展開の採用によって、浅部から深部までのマルチスケール探査サービスを提供しています。このマルチスケール探査では、屈折波、反射波及び広角反射波の同時取得によって、屈折トモグラフィ解析、Full Waveform Inversion及び重合前マイグレーションによる複合型処理によって、高度な速度推定と高精度の速度モデル構築を図ることができます。
                              </p>
                              <div class="un_carbonNeutral_image_block">
                                <img class="un_undersea_css_project_diagram_image" src="images/earthquakeDisasterPrevention/structural- model.png">
                              </div>
                        </section>

                        <section id="infrastructure">
                                <div class="un_carbonNeutral_head">
                                  <h2 class="un_carbonNeutral_head_firstTitle">土木・インフラ<br class="hp_spOnly">維持管理分野への貢献</h2>
                                </div>
                                <div class="un_carbonNeutral_line"></div>
                                <p class="un_carbonNeutral_text un_text_sp">
                                  当社では、反射法探査技術を用いたトンネル浅層反射法（SSRT: Shallow Seismic Reflection survey for Tunnels)による切羽前方探査および衛星データを用いた干渉SAR解析などにより、土木・インフラ維持管理に有用な断層破砕帯や地下水脈などの危険個所の予測およびダム堤体や道路などの人工構造物の変位検出などを行っています。
                                </p>
                                <div class="un_carbonNeutral_image_block">
                                  <img class="un_undersea_css_project_diagram_image" src="images/earthquakeDisasterPrevention/infrastructure.png">
                                </div>
        
                          <div class="un_carbonNeutral_button_box">
                              <a href="businessField.html" class="un_carbonNeutral_button">
                                  <span class="hp_arrowIcon">事業分野一覧に戻る</span>
                              </a>
                          </div>
                  </section>
                </div>
            </section>

        </main>
<%- include("common/_footer") %>