<% const pageMeta={ id: 'highResolutionRadar',title: '海上高分解能地震探査サービス' , description: '海上高分解能地震探査サービスの説明文です' } %>
    <%- include("common/_header", { meta: pageMeta }) %>
        <!-- content -->
        <main>
            <div class="ly_MV">
                <div class="bl_breadcrumbs">
                    <ul class="bl_breadcrumbs_list">
                        <li class="bl_breadcrumbs_item"><a class="bl_breadcrumbs_item_link" href="index.html" title="/">サイトTOP</a></li>
                        <li class="bl_breadcrumbs_item"><a class="bl_breadcrumbs_item_link" href="#" title="/">技術サービス</a></li>
                        <li class="bl_breadcrumbs_item"><a class="bl_breadcrumbs_item_link" href="highResolutionRadar.html" title="">海上高分解能地震探査サービス</a></li>
                    </ul>
                </div>
                <div class="ly_MV_inner ly_MV_inner__black">
                    <h1 class="el_lv1Heading">海上高分解能<br>地震探査サービス</h1>
                </div>
            </div>

            <section class="ly_landBroadband">
                <div class="ly_inner">
                    <div class="un_landBroadband_head">
                        <h2 class="un_landBroadband_lv2Heading">海域における<br class="hp_spOnly">高精細三次元イメージング</h2>
                        <p class="un_landBroadband_head_txt">
                            当社は2019年より、自社開発・構築したデータ取得・処理システムを用いて海上高分解能反射法地震探査サービス
                            (UHRS : Ultra High Resolution Seismic)を開始いたしました。本サービスでは、海底下の比較的浅部をターゲットにしており、三次元システム(UHR-3D)と二次元システム(UHR-2D)があります。 UHRSは20-300トンクラスの小型船で運用できるため、低コストで高精細な三次元イメージを得ることができます。2震源を同時に操作する（Dual sourceoperation)ことにより、浅部での超高分解能記録および深部での高分解能記録を一度に取得することが可能です。
                        </p>
                    </div>
                    <ul class="un_landBroadband_list">
                        <li class="un_landBroadband_item">
                            <img src="images/highResolutionRadar/highResolutionRadar_item_img_1.jpg" alt="" class="un_landBroadband_item_img">
                        </li>
                        <li class="un_landBroadband_item">
                            <img src="images/highResolutionRadar/highResolutionRadar_item_img_2.jpg" alt="" class="un_landBroadband_item_img">
                        </li>
                    </ul>
                    <!-- <div class="un_landBroadbandBtnWrapper">
                        <a href="" class="el_btn un_landBroadbandBtn">
                            <span class="hp_arrowIcon">技術サービス一覧に戻る</span>
                        </a>
                    </div> -->
                </div>
            </section>

        </main>

        </div><!-- /content -->
        <%- include("common/_footer") %>