<% const pageMeta={ id: 'highprecisionphysics',title: '高精度物理探査データ処理・解析サービス' , description: '高精度物理探査データ処理・解析サービスの説明文です' } %>
    <%- include("common/_header", { meta: pageMeta }) %>
        <!-- content -->
        <main>
            <div class="ly_MV">
                <div class="bl_breadcrumbs">
                    <ul class="bl_breadcrumbs_list">
                        <li class="bl_breadcrumbs_item"><a class="bl_breadcrumbs_item_link" href="index.html" title="/">サイトTOP</a></li>
                        <li class="bl_breadcrumbs_item"><a class="bl_breadcrumbs_item_link" href="#" title="/">技術サービス</a></li>
                        <li class="bl_breadcrumbs_item"><a class="bl_breadcrumbs_item_link" href="highprecisionphysics.html" title="">高精度物理探査データ処理・解析サービス</a></li>
                    </ul>
                </div>
                <div class="ly_MV_inner ly_MV_inner__black">
                    <h1 class="el_lv1Heading">高精度物理探査<br>データ処理・解析サービス</h1>
                </div>
            </div>

            <section class="ly_landBroadband">
                <div class="ly_inner">
                    <div class="un_landBroadband_head">
                        <h2 class="un_landBroadband_lv2Heading">様々なニーズに応える高精度<br class="hp_spOnly">データ処理・解析サービス</h2>
                    </div>
                    <div class="un_landBroadband_body">
                        <div class="un_landBroadband_body_cont">
                            <h3 class="un_landBroadband_lv3Heading">反射法データ処理</h3>
                            <p class="un_landBroadband_body_txt">
                                当社は、最新の処理技術を用いて、陸域・浅海域・海域における二次元・三次元データ処理サービスを提供しています。
                                クライアントとの綿密な打ち合わせ、データのレビューを通じた最適な手法を提案します。
                            </p>
                            <ul class="un_landBroadband_list un_landBroadband_list__mt20">
                                <li class="un_landBroadband_item">
                                    <img src="images/highprecisionphysics/highprecisionphysics_item_img_01.jpg" alt="" class="un_landBroadband_item_img">
                                </li>
                                <li class="un_landBroadband_item un_landBroadband_item__half">
                                    <img src="images/highprecisionphysics/highprecisionphysics_item_img_02.jpg" alt="" class="un_landBroadband_item_img">
                                </li>
                                <li class="un_landBroadband_item un_landBroadband_item__half">
                                    <img src="images/highprecisionphysics/highprecisionphysics_item_img_03.jpg" alt="" class="un_landBroadband_item_img">
                                </li>
                                <li class="un_landBroadband_item">
                                    <img src="images/highprecisionphysics/highprecisionphysics_item_img_04-05.jpg" alt="" class="un_landBroadband_item_img">
                                </li>
                                <li class="un_landBroadband_item">
                                    <img src="images/highprecisionphysics/highprecisionphysics_item_img_06.jpg" alt="" class="un_landBroadband_item_img un_landBroadband_item_img__maxwid700">
                                </li>
                                <li class="un_landBroadband_item">
                                    <img src="images/highprecisionphysics/highprecisionphysics_item_img_07.jpg" alt="" class="un_landBroadband_item_img">
                                </li>
                            </ul>
                        </div>
                        <div class="un_landBroadband_body_cont">
                            <h3 class="un_landBroadband_lv3Heading">応用解析</h3>
                            <p class="un_landBroadband_body_txt">
                                蓄積された貴重なデータから、価値ある情報を引き出します。
                            </p>
                            <ul class="un_landBroadband_list un_landBroadband_list__mt20">
                                <li class="un_landBroadband_item">
                                    <img src="images/highprecisionphysics/highprecisionphysics_item_img_08.jpg" alt="" class="un_landBroadband_item_img">
                                </li>
                                <li class="un_landBroadband_item un_landBroadband_item__half">
                                    <img src="images/highprecisionphysics/highprecisionphysics_item_img_09.jpg" alt="" class="un_landBroadband_item_img">
                                </li>
                                <li class="un_landBroadband_item un_landBroadband_item__half">
                                    <img src="images/highprecisionphysics/highprecisionphysics_item_img_10.jpg" alt="" class="un_landBroadband_item_img">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

        </main>

        </div><!-- /content -->
        <%- include("common/_footer") %>