<% const pageMeta={ title: 'トップページ' , description: 'トップページの説明文です' } %>
    <%- include("common/_header", { meta: pageMeta }) %>
        <!-- content -->
        <main>
            <div class="ly_topMV">
                <ul class="slick_topMvSlide slick hp_pcOnly">
                    <li class="slick_topMvSlide_item">
                        <!-- <img src="images/top/mv.jpg" alt="" class="hp_pcOnly"> -->
                        <img src="images/top/mv-sp.jpg" alt="" class="hp_spOnly">
                        <div class="ly_topMV_cont">
                            <p class="ly_topMV_centence">2050年カーボンニュートラル社会の<br>
                                実現に向け、貢献しています。</p>
                            <div class="ly_topMV_btnWrapper">
                                <a href="" class="el_btn el_btn__small hp_pointerNone">
                                    <span class="hp_arrowIcon">一覧を見る</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="slick_topMvSlide_item slick_topMvSlide_item02 hp_pcOnly">
                        <!-- <img src="images/top/mv02.jpg" alt="" class="hp_pcOnly"> -->
                        <!-- <img src="images/top/mv02-sp.jpg" alt="" class="hp_spOnly"> -->
                        <div class="ly_topMV_cont">
                            <!-- <p class="ly_topMV_centence">ダミーテキスト<br>
                                ダミーテキストダミーテキスト</p> -->
                            <!-- <div class="ly_topMV_btnWrapper">
                                <a href="" class="el_btn el_btn__small hp_pointerNone">
                                    <span class="hp_arrowIcon">一覧を見る</span>
                                </a>
                            </div> -->
                        </div>
                    </li>
                </ul>

                <ul class="slick_topMvSlide hp_spOnly">
                    <li class="slick_topMvSlide_item">
                        <!-- <img src="images/top/mv.jpg" alt="" class="hp_pcOnly"> -->
                        <img src="images/top/mv-sp.jpg" alt="" class="hp_spOnly">
                        <div class="ly_topMV_cont">
                            <p class="ly_topMV_centence">2050年カーボンニュートラル社会の<br>
                                実現に向け、貢献しています。</p>
                            <div class="ly_topMV_btnWrapper">
                                <a href="" class="el_btn el_btn__small hp_pointerNone">
                                    <span class="hp_arrowIcon">一覧を見る</span>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <section class="ly_topTopics ly_sec">
                <div class="ly_inner">
                    <div class="ly_topTopics_head">
                        <h2 class="ly_topTopics_lv2Heading el_topLv2Heading">トピックス </h2>
                        <a href="" class="el_btn el_btn__small hp_pcOnly">
                            <span class="hp_arrowIcon">一覧を見る</span>
                        </a>
                    </div>
                    <ul class="bl_topics">
                        <li class="bl_topics_item">
                            <div class="bl_topics_header">
                                <div class="bl_topics_itemTag">サービス関連</div>
                                <time class="bl_topics_date" datetime="2021-08-19">2021/08/19</time>
                            </div>
                            <!-- /.bl_vertPosts_header -->
                            <a class="bl_topics_ttl anime_hoverMainColor" href="20210819.html">2021年ハイチで発生した地震 衛星SAR差分干渉処理（InSAR）結果</a>
                        </li>
                        <li class="bl_topics_item">
                            <div class="bl_topics_header">
                                <div class="bl_topics_itemTag bl_topics_itemTag__news">お知らせ</div>
                                <time class="bl_topics_date" datetime="2021-06-25">2021/06/25</time>
                            </div>
                            <!-- /.bl_vertPosts_header -->
                            <a class="bl_topics_ttl anime_hoverMainColor hp_pointerNone" href="#">弊社役員が交代致しました</a>
                        </li>
                        <li class="bl_topics_item">
                            <div class="bl_topics_header">
                                <div class="bl_topics_itemTag">サービス関連</div>
                                <time class="bl_topics_date" datetime="2020-08-18">2020/08/18</time>
                            </div>
                            <!-- /.bl_vertPosts_header -->
                            <a class="bl_topics_ttl anime_hoverMainColor hp_pointerNone" href="#">新型ブロードバンドバイブレータ（UNIVIB2）を導入</a>
                        </li>
                    </ul>

                    <a href="" class="el_btn hp_spOnly hp_pointerNone">
                        <span class="hp_arrowIcon">一覧を見る</span>
                    </a>
                </div>
            </section>

            <section class="ly_topBusiness ly_sec">
                <div class="ly_inner">
                    <h2 class="el_topLv2Heading el_topLv2Heading__hasBorder">事業分野</h2>
                    <p class="el_topCenetence">地下資源探査等に特化した豊富な技術力でお客様の課題<br>に対し、様々なアプローチによって解決へと導きます。</p>
                    <ul class="bl_bussinesLink_list">
                        <li class="bl_bussinesLink_item bl_bussinesLink_item__large anime_hoverItem">
                            <a href="businessfield.html#cont01" class="bl_bussinesLink_itemlink">
                                <div class="bl_bussinesLink_item_inner">
                                    <div class="bl_imgWrapper">
                                        <img src="images/top/bussines_link01.jpg" alt="" class="bl_bussinesLink_thumb">
                                    </div>
                                    <div class="bl_bussinesLink_item_body">
                                        <h3 class="bl_bussinesLink_ttl">2050年カーボンニュートラル<br>
                                            社会の実現に向けた貢献</h3>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="bl_bussinesLink_item anime_hoverItem">
                            <a href="businessfield.html#cont02" class="bl_bussinesLink_itemlink">
                                <div class="bl_bussinesLink_item_inner">
                                    <div class="bl_imgWrapper">
                                        <img src="images/top/bussines_link02 .jpg" alt=""
                                            class="bl_bussinesLink_thumb">
                                    </div>

                                    <div class="bl_bussinesLink_item_body">
                                        <h3 class="bl_bussinesLink_ttl">地震防災・<br>
                                            地下空間利用への貢献</h3>
                                    </div>

                                </div>
                            </a>
                        </li>
                        <li class="bl_bussinesLink_item anime_hoverItem">
                            <a href="businessfield.html#cont03" class="bl_bussinesLink_itemlink">
                                <div class="bl_bussinesLink_item_inner">
                                    <div class="bl_imgWrapper">
                                        <img src="images/top/bussines_link03.jpg" alt="" class="bl_bussinesLink_thumb">
                                    </div>

                                    <div class="bl_bussinesLink_item_body">
                                        <h3 class="bl_bussinesLink_ttl">資源・エネルギー<br>
                                            安定供給への貢献</h3>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="ly_topBusiness ly_sec">
                <div class="ly_inner">
                    <h2 class="el_topLv2Heading el_topLv2Heading__hasBorder">技術サービス</h2>
                    <p class="el_topCenetence">地下資源探査等に特化した豊富な技術力でお客様の課題に対し、<br>様々なアプローチによって解決へと導きます。</p>
                    <ul class="un_topBusinessCard bl_card bl_card__3col">
                        <li class="bl_card_item bl_card_item__radius anime_hoverItem">
                            <a href="landbroadband.html">
                                <div class="bl_imgWrapper">
                                    <img src="images/top/service01.jpg" alt="" class="bl_card_img">
                                </div>

                                <h3 class="bl_card_lv3Heading">陸上ブロードバンド<br>
                                    地震探査サービス</h3>
                            </a>
                        </li>
                        <li class="bl_card_item bl_card_item__radius anime_hoverItem">

                                <div class="bl_imgWrapper">
                                    <img src="images/top/service02.jpg" alt="" class="bl_card_img">
                                </div>

                                <h3 class="bl_card_lv3Heading">海上高分解能<br>
                                    地震探査サービス</h3>
                
                        </li>
                        <li class="bl_card_item bl_card_item__radius anime_hoverItem">
                            <div class="bl_imgWrapper">
                                <img src="images/top/service03.jpg" alt="" class="bl_card_img">
                            </div>

                            <h3 class="bl_card_lv3Heading">高精度物理探査データ<br>
                                処理・解析サービス</h3>
                        </li>
                        <li class="bl_card_item bl_card_item__radius anime_hoverItem">

                                <div class="bl_imgWrapper">
                                    <img src="images/top/service04.jpg" alt="" class="bl_card_img">
                                </div>

                                <h3 class="bl_card_lv3Heading">DX-AI・磁気媒体<br>
                                    変換技術サービス</h3>
            
                        </li>
                        <li class="bl_card_item bl_card_item__radius anime_hoverItem">
                           
                                <div class="bl_imgWrapper">
                                    <img src="images/top/service05.jpg" alt="" class="bl_card_img">
                                </div>

                                <h3 class="bl_card_lv3Heading">地質総合<br>
                                    解析サービス</h3>
                       
                        </li>
                        <li class="bl_card_item bl_card_item__radius anime_hoverItem">

                                <div class="bl_imgWrapper">
                                    <img src="images/top/service06.jpg" alt="" class="bl_card_img">
                                </div>

                                <h3 class="bl_card_lv3Heading">グローバル地表観測・<br>
                                    変位解析サービス</h3>
                  
                        </li>
                    </ul>
                    <!-- 
                    <div class="un_topBusinessBtnWrapper">
                        <a href="" class="el_btn un_topBusinessBtn">

                            <span class="hp_arrowIcon">詳しく見る</span>

                        </a>
                    </div> -->

                </div>
            </section>


            <section class="ly_topBusiness ly_sec">
                <div class="ly_inner">
                    <h2 class="el_topLv2Heading el_topLv2Heading__hasBorder">研究開発システム（仮称）</h2>
                    <p class="el_topCenetence">地下資源探査等に特化した豊富な技術力でお客様の課題<br>に対し、様々なアプローチによって解決へと導きます。</p>
                    <ul class="bl_card bl_card__3col un_topBusinessCard">
                        <li class="bl_card_item un_topBusinessCard01 anime_hoverOpacity">
                            <a href="" class="hp_pointerNone">
                                <img src="images/top/system01.png" alt="" class="bl_card_img">
                            </a>
                        </li>
                        <li class="bl_card_item un_topBusinessCard02 anime_hoverOpacity">
                            <a href="" class="hp_pointerNone">
                                <img src="images/top/system02.png" alt="" class="bl_card_img">
                            </a>
                        </li>
                    </ul>
                    <!-- <div class="un_topBusinessBtnWrapper">
                        <a href="" class="el_btn un_topBusinessBtn">
                            <span class="hp_arrowIcon">詳しく見る</span>
                        </a>
                    </div>-->

                </div>
            </section>
        </main>
        <%- include("common/_footer") %>