<% const pageMeta={ id: 'landBroadband',title: '陸上ブロードバンド地震探査サービス' , description: '陸上ブロードバンド地震探査サービスの説明文です' } %>
    <%- include("common/_header", { meta: pageMeta }) %>
        <!-- content -->
        <main>
            <div class="ly_MV">
                <h1 class="el_lv1Heading el_lv1Heading__black">陸上ブロードバンド<br>地震探査サービス</h1>
            </div>

            <section class="ly_landBroadband">
                <div class="ly_inner">
                    <div class="un_landBroadband_head">
                        <h2 class="un_landBroadband_head_ttl">ブロードバンド震源を用いた地下構造マルチスケール探査</h2>
                        <p class="un_landBroadband_head_txt">
                            当社では、これまでに、バイブレータ震源を広帯域で発震するための波形生成・発震制御技術開発、低周波受振器の導入、FWI技術開発を進めてきました。2020年に最新型ブロードバンド・バイブレータ震源(米国INOVA社UNIVIB2)を4台導入し本格的な広帯域地震探査サービス(Broadband
                            Seismic)を開始しました。広帯域地震探査サービスにより、地下極浅部から深部までの地下構造の可視化が可能になります。
                        </p>
                    </div>
                    <ul class="un_landBroadband_list">
                        <li class="un_landBroadband_item">
                            <h3 class="un_landBroadband_item_ttl">Broadband Vibratorの有効周波数帯域</h3>
                            <img src="/images/landBroadband/landBroadband_item_img_01.jpg" alt="" class="un_landBroadband_item_img">
                        </li>
                        <li class="un_landBroadband_item un_landBroadband_item__half">
                            <h3 class="un_landBroadband_item_ttl">Broadband Vibrator(データ取得風景)</h3>
                            <img src="/images/landBroadband/landBroadband_item_img_02.jpg" alt="" class="un_landBroadband_item_img">
                        </li>
                        <li class="un_landBroadband_item un_landBroadband_item__half">
                            <h3 class="un_landBroadband_item_ttl">最新型ブロードバンド・バイブレータ震源</h3>
                            <p class="un_landBroadband_item_txt">
                                中型サイズでありながら極低周波数(5Hz以下)において有効発震エネルギーを確保すると共に、今まで陸上地震探査ではあまり利用されてこなかった100Hz以上の高周波数帯域の発震を安定的に精度良く行うことが可能です。
                            </p>
                        </li>
                        <li class="un_landBroadband_item">
                            <h3 class="un_landBroadband_item_ttl">低周波成分の有効性</h3>
                            <div class="un_landBroadband_item_imgFlex">
                                <img src="/images/landBroadband/landBroadband_item_img_04-01.jpg" alt="" class="un_landBroadband_item_img">
                                <img src="/images/landBroadband/landBroadband_item_img_04-02.jpg" alt="" class="un_landBroadband_item_img">
                            </div>
                            <p class="un_landBroadband_item_txt">
                                低周波成分は、深部反射波の抽出と共に、FWI(Full Waveform Inversion)による速度推定やAI(Acoustic Impedance)インバージョンの高精度化に寄与します。
                            </p>
                        </li>
                        <li class="un_landBroadband_item">
                            <h3 class="un_landBroadband_item_ttl">高周波成分の有効性</h3>
                            <ul class="un_landBroadband_item_subList">
                                <li class="un_landBroadband_item_subItem">
                                    <img src="/images/landBroadband/landBroadband_item_img_05-01.jpg" alt="" class="un_landBroadband_item_img">
                                </li>
                                <li class="un_landBroadband_item_subItem">
                                    <img src="/images/landBroadband/landBroadband_item_img_05-02.jpg" alt="" class="un_landBroadband_item_img">
                                </li>
                                <li class="un_landBroadband_item_subItem">
                                    <img src="/images/landBroadband/landBroadband_item_img_05-03.jpg" alt="" class="un_landBroadband_item_img">
                                </li>
                            </ul>
                            <p class="un_landBroadband_item_txt">
                                100Hz以上の高周波数帯域における有効エネルギーは、浅層部の高分解能イメージングに寄与します。
                            </p>
                        </li>
                    </ul>
                    <div class="un_landBroadbandBtnWrapper">
                        <a href="" class="el_btn un_landBroadbandBtn">
                            <span class="hp_arrowIcon">技術サービス一覧に戻る</span>
                        </a>
                    </div>
                </div>
            </section>

        </main>

        </div><!-- /content -->
        <%- include("common/_footer") %>