<% const pageMeta={ id: 'carbonNeutral' ,title: '2050年カーボンニュートラル社会の' , description: '実現に向けた貢献の説明文です' } %>
    <%- include("common/_header", { meta: pageMeta }) %>
        <!-- content -->
        <main>
            <div class="ly_MV">
                <div class="bl_breadcrumbs">
                    <ul class="bl_breadcrumbs_list">
                        <li class="bl_breadcrumbs_item"><a class="bl_breadcrumbs_item_link" href="index.html" title="/">サイトTOP</a></li>
                        <li class="bl_breadcrumbs_item"><a class="bl_breadcrumbs_item_link" href="/businessField.html" title="/">事業分野</a></li>
                        <li class="bl_breadcrumbs_item"><a class="bl_breadcrumbs_item_link" href="/resource.html" title="">資源・エネルギー安定供給への貢献</a></li>
                    </ul>
                </div>
                <div class="ly_MV_inner">
                    <h1 class="el_lv1Heading">資源・エネルギー<br class="hp_spOnly">安定供給への貢献</h1>
                </div>
            </div>

            <section class="ly_landBroadband">
                <div class="ly_inner">
                    <section id="geophysical-exploration">
                      <div class="un_carbonNeutral_head">
                        <h2 class="un_carbonNeutral_head_firstTitle">地下深部の炭化水素貯留層を対象とした<br>高精度三次元物理探査の実施</h2>
                      </div>
                      <div class="un_carbonNeutral_line"></div>
                      <p class="un_carbonNeutral_text un_text_sp">
                        当社は、地下深部に埋蔵されている天然ガスを主体とする炭化水素の探鉱において、物理探査技術を提供します。中でも反射法地震探査は、陸域・浅海域・海域で適用可能であり、詳細な地下構造を三次元的に可視化すると共に、貯留層の物性評価に不可欠な技術です。また、当社が技術開発に関与している海洋電磁探査は、ガス飽和度の情報把握の観点から地質リスクの大きな低減に貢献します。
                      </p>
                    </section>

                    <section id="reflection-method">
                              <div class="un_carbonNeutral_head">
                                <h3 class="un_carbonNeutral_head_firstTitle">反射法地震探査</h3>
                              </div>
                              <p class="un_carbonNeutral_text un_text_sp">
                                当社では、以下の通り、陸域・浅海域・海域において、多様な震源・受振システムを機動的・複合的に組み合わせて、探査対象・深度に合わせた最適な二次元・三次元反射法地震探査データを収録いたします。
                                <br>
                                ●陸　域...独立型と有線テレメトリーシステムの複合化と共に、震源エネルギーの最適化を通じて、不規則な標高・表層構造変化及び複雑な地表条件に対応した受振レイアウト(数千点以上)によるデータを収録します。
                                <br>
                                ●浅海域...当社が最も優位性を持つ領域が浅海域であり、海底着底ケーブル(四成分)と陸上展開を接続し、多様なエアガン震源と陸上震源を組み合わせて、陸域から沿岸海域までのシームレス三次元データを収録します。
                                <br>
                                ●海　域...機動性の高い小規模三次元探査を実施すると共に、大型専用調査船の傭船を通じたサービスを提供します。
                              </p>
                              <div class="un_carbonNeutral_image_block">
                                <img class="un_undersea_css_project_diagram_image" src="images/resource/exploration.png">
                              </div>
                    </section>

                    <section id="ocean-electromagnetic-exploration">
                              <div class="un_carbonNeutral_head">
                                <h3 class="un_carbonNeutral_head_firstTitle">海洋電磁探査</h3>
                              </div>
                              <p class="un_carbonNeutral_text un_text_sp">
                                比抵抗探査は、天然ガスの飽和度に感度を有しており、反射法地震探査データと併用することによって、より信頼性の高いプロスペクトやリードの抽出を通じて、海域における天然ガス探鉱への貢献を可能とします。当社では、エネルギー開発企業及び研究機関と共同して、曳航型送信機と着底型測定装置を用いた海洋電磁探査技術の開発・実用化に成功しています。
                              </p>
                              <div class="un_carbonNeutral_image_block">
                                <img class="un_undersea_css_project_diagram_image" src="images/resource/layout.png">
                              </div>
                    </section>

                      <section id="model-building">
                              <div class="un_carbonNeutral_head">
                                <h3 class="un_carbonNeutral_head_firstTitle">多種物理探査データ統合解析を通じた三次元地下構造モデルの構築</h3>
                              </div>
                              <p class="un_carbonNeutral_text un_text_sp">
                                三次元反射法地震探査データ、坑井(検層)データおよびノンサイスミックデータ(重力・磁力・電磁探査）などの多種物理探査データを用いた統合解析を通じて、三次元構造・物性・力学特性に関わる地下構造モデルを構築します。当社は、こうした岩相・流体性状・孔隙率・力学パラメータに関わるモデル構築によって、天然ガス等の探鉱事業・開発計画などを支援しています。
                              </p>
                              <div class="un_carbonNeutral_image_block">
                                <img class="un_undersea_css_project_diagram_image" src="images/resource/workflow.png">
                              </div>
                    </section>

                    <section id="survey-technology">
                              <div class="un_carbonNeutral_head">
                                <h2 class="un_carbonNeutral_head_firstTitle">海洋立国を支える次世代海洋調査技術</h2>
                                <h2 class="un_carbonNeutral_head_secondTitle">̶カーボンニュートラル鉱種の安定供給̶</h2>
                              </div>
                              <div class="un_carbonNeutral_line"></div>
                              <p class="un_carbonNeutral_text un_text_sp">
                                近年、排他的経済水域における海底熱水鉱床、レアアース泥及びコバルトリッチクラストなどが、カーボンニュートラル社会の実現に向けて、鉱物資源の安定供給を図る観点で期待されています。当社は、海底鉱床の発見、賦存量の把握を行うべく海中ロボット(AUV, ROV)も活用しながら総合的な物理探査手法を提供しています。また、海洋資源の持続的開発を目指して、長期モニタリング装置を深海底に設置し、環境観測技術の研究・開発も進めています。
                              </p>
                              <div class="un_carbonNeutral_image_block">
                                <img class="un_undersea_css_project_diagram_image" src="images/resource/survey- technology.png">
                              </div>
                    </section>

                    <div class="un_carbonNeutral_button_box">
                        <a href="businessField.html" class="un_carbonNeutral_button">
                            <span class="hp_arrowIcon">事業分野一覧に戻る</span>
                        </a>
                    </div>
                </div>
            </section>

        </main>
<%- include("common/_footer") %>