<% const pageMeta={ id: 'topics' ,title: '関連リンク' , description: '会社概要の説明文です' } %>
    <%- include("common/_header", { meta: pageMeta }) %>

        <main>
            <section class="ly_topics">
                <div class="ly_MV">
                    <div class="bl_breadcrumbs">
                        <ul class="bl_breadcrumbs_list">
                            <li class="bl_breadcrumbs_item"><a class="bl_breadcrumbs_item_link" href="index.html" title="/">サイトTOP</a></li>
                            <li class="bl_breadcrumbs_item"><a class="bl_breadcrumbs_item_link" href="about.html" title="">会社概要</a>
                            </li>
                        </ul>
                    </div>
                    <div class="ly_MV_inner">
                        <ul class="un_aboutNav js-tab-filter tab">
                            <li class="un_aboutNav_item"><a class="un_aboutNav_item_link anchor tab-trigger js-tab-trigger" href="" data-filter="infomation">お知らせ</a></li>
                            <li class="un_aboutNav_item"><a class="un_aboutNav_item_link anchor tab-trigger js-tab-trigger" href="" data-filter="service">サービス関連</a></li>
                            <li class="un_aboutNav_item"><a class="un_aboutNav_item_link anchor tab-trigger js-tab-trigger" href="" data-filter="media">メディア情</a></li>
                            <li class="un_aboutNav_item"><a class="un_aboutNav_item_link anchor tab-trigger js-tab-trigger is-active" href="" data-filter="all">ALL</a></li>
                        </ul>
                    </div>
                </div>
                <div class="bl_breadcrumbs un_topicBreadcrumbs hp_pcOnly">
                    <ul class="bl_breadcrumbs_list">
                        <li class="bl_breadcrumbs_item"><a class="bl_breadcrumbs_item_link" href="index.html"
                                title="/">TOP</a></li>
                        <li class="bl_breadcrumbs_item"><a class="bl_breadcrumbs_item_link" href="links.html"
                                title="">トピックス</a></li>
                    </ul>
                </div>
                <div class="ly_inner">
                    <ul class="bl_topics area is-active" id="all">
                        <li class="bl_topics_item">
                            <div class="bl_topics_header">
                                <div class="bl_topics_itemTag">サービス関連</div>
                                <time class="bl_topics_date" datetime="2021-08-19">2021/08/19</time>
                            </div>
                            <!-- /.bl_vertPosts_header -->
                            <a class="bl_topics_ttl anime_hoverMainColor" href="#">2021年ハイチで発生した地震 衛星SAR差分干渉処理（InSAR）結果</a>
                        </li>
                        <li class="bl_topics_item">
                            <div class="bl_topics_header">
                                <div class="bl_topics_itemTag">サービス関連</div>
                                <time class="bl_topics_date" datetime="2021-06-25">2021/06/25</time>
                            </div>
                            <!-- /.bl_vertPosts_header -->
                            <a class="bl_topics_ttl anime_hoverMainColor hp_pointerNone" href="#">弊社役員が交代致しました</a>
                        </li>
                        <li class="bl_topics_item">
                            <div class="bl_topics_header">
                                <div class="bl_topics_itemTag">サービス関連</div>
                                <time class="bl_topics_date" datetime="2020-08-18">2020/08/18</time>
                            </div>
                            <!-- /.bl_vertPosts_header -->
                            <a class="bl_topics_ttl anime_hoverMainColor hp_pointerNone" href="#">新型ブロードバンドバイブレータ（UNIVIB2）を導入</a>
                        </li>
                    </ul>

                    <ul class="bl_topics area" id="service">
                        <li class="bl_topics_item">
                            <div class="bl_topics_header">
                                <div class="bl_topics_itemTag">サービス関連</div>
                                <time class="bl_topics_date" datetime="2021-08-19">2021/08/19</time>
                            </div>
                            <!-- /.bl_vertPosts_header -->
                            <a class="bl_topics_ttl anime_hoverMainColor" href="#">2021年ハイチで発生した地震 衛星SAR差分干渉処理（InSAR）結果</a>
                        </li>
                    </ul>
                </div>
            </section>

        </main>

        <%- include("common/_footer") %>