@import "settings";

.ly_overview {
margin-top: 54px;
}
.un_aboutNav {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 8px 0;
    @include mq(md) {
        flex-wrap: wrap;
        justify-content: flex-start;
        max-width: 212px;
    }
}
.un_aboutNav_item {
    padding: 0px 20px 0;
    position: relative;
    @include mq(md) {
        padding: 0;
        margin-bottom: 2px;
    }
}
.un_aboutNav_item:nth-of-type(1),
.un_aboutNav_item:nth-of-type(3) {
    @include mq(md) {
        padding-right: 30px;
    }
}
.un_aboutNav_item:nth-of-type(2),
.un_aboutNav_item:nth-of-type(4) {
    @include mq(md) {
        padding-left: 30px;
    }
}
.un_aboutNav_item::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 20px;
    background-color: #ddd;
    transform: translateY(-50%);
}
.un_aboutNav_item:nth-of-type(2).un_aboutNav_item::after,
.un_aboutNav_item:nth-of-type(4).un_aboutNav_item::after {
    @include mq(md) {
        content: none;
    }
}
.un_aboutNav_item:last-child.un_aboutNav_item::after {
    content: none;
}

.un_aboutNav_item_link {
    color: #fff;
    font-size: 2rem;
    @include mq(md) {
        font-size: 1.8rem;
    }
}

.un_about_ttl{
    font-size: 2rem;
    font-weight: 700;
    background-color: $cr-main;
    color: #fff;
    padding: 11px 0 11px 16px;
    margin-bottom: 50px;
    @include mq(md) {
        margin-bottom: 30px;
    }
}

.ly_histroy{
    .bl_horizTable th{
        color: $cr-main;
    }
}
/*---------------------------------
  organization
---------------------------------*/
.ly_organization{
    .bl_bulletList{
        display: flex;
        flex-wrap: wrap;
        @include mq(md) {
            flex-direction: column;
        }
        li{
            width: 50%;
            @include mq(md) {
                width: 100%;
            }
        }
    }
}
.un_organization_lv3Heading{
    color: $cr-main;
    font-weight: bold;
}
/*---------------------------------
  suppliers
---------------------------------*/
.ly_suppliers{
    .bl_bulletList{
        font-size: 1.6rem;
        margin-bottom: 4em;
    }
}
.ly_suppliers_body{
    display: flex;
    @include mq(md) {
        flex-direction: column;
    }
}
.ly_suppliers_left,
.ly_suppliers_right{
    flex: 1;
}
.ly_suppliers_ttl{
    font-size: 2.1rem;
    font-weight: bold;
}
.un_suppliersLineheight{
    margin-top: 10px;
    display: block;
}