.ly_businessField {
    margin: 55px 0 80px 0;
}
.un_MV_txt {
    color:  #fff;
    font-size:  1.8rem;
    text-align:  center;
    font-weight: bold;
    letter-spacing: 0.06em;
    line-height: func-em(32,18);
    @include mq(md) {
        padding: 10px 30px 0 30px;
        font-size:  1.6rem;
        text-align:  left;
        line-height: func-em(28,16);
    }
}
.un_businessField_head {

}
.un_businessField_lv2Heading {
    font-size: 2.8rem;
    letter-spacing: 0.1em;
    line-height: func-em(40,28);
    font-weight: bold;
    text-align: center;
    color: $cr-main;
    margin-bottom: 30px;
    @include mq(md) {
        text-align: left;
        line-height: func-em(36,28);
    }
}
.un_businessField_lv2Heading::after {
    content: "";
    display: block;
    background-color: $cr-main;
    height: 9px;
    width: 100%;
    margin-top: 25px;
    @include mq(md) {
        margin-top: 21px;
    }
}
.un_businessField_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include mq(md) {
        flex-direction: column;
    }
}
.un_businessField_list_item {
    border: solid 3px $cr-main;
    border-radius: 25px;
    background-color: #E2F9FF;
    width: calc(33.333333% - 12px);
    transition: 0.8;
    text-align: center;
    display: flex;
    @include mq(md) {
        width: 100%;
        margin-bottom: 25px;
    }
}
.un_businessField_list_itemCont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    @include mq(md) {
        width: 100%;
flex-direction: column-reverse;
    }
}
.un_businessField_list_item.un_businessField_list_item__hover:hover {
        background-color: $cr-main;
        border: solid 3px #E2F9FF;
        .un_businessField_list_item_desc_ttl{
color: #fff;
        }
        .un_businessField_list_item_desc_txt{
color: #fff;
        }
}
.un_businessField_list_item__col3 {
    width: calc(33.333333% - 12px);
    flex-direction: column-reverse;
    height: 350px;
    @include mq(md) {
        height: 350px;
    }
}
.un_businessField_list_item__col4 {
    width: calc(50% - 10px);
    // flex-direction: row-reverse;
    padding: 23px;
    @include mq(md) {
        // flex-direction: column-reverse;
        height: 280px;
    }
}
.un_businessField_list_item__col1 {
    width: 100%;
    padding: 23px;
    @include mq(md) {
        
    }
}
.un_businessField_list_item__col4:nth-of-type(3),
.un_businessField_list_item__col4:nth-of-type(4) {
    margin-top: 20px;
}
.un_businessField_list_item:nth-of-type(3) {
    @include mq(md) {
        margin-bottom: 0;
    }
}
.un_businessField_list_item__col4:nth-of-type(4) {
    @include mq(md) {
        height: 320px;
    }
}
.un_businessField_list_item__col1:nth-of-type(2) {
    margin-top: 20px;
}
.un_businessField_list_item_desc {
    text-align: center;
    color: $cr-main;
    letter-spacing: 0.06em;
    padding: 18px 0 24px 0;
    @include mq(md) {
        padding: 18px 0 33px 0;
    }
}
.un_businessField_list_item.un_businessField_list_item__col3:nth-of-type(1) .un_businessField_list_item_desc {
    padding: 0px 0 24px 0;
}
.un_businessField_list_item.un_businessField_list_item__col3 .un_businessField_list_item_desc {
    padding: 24px 0 28px 0;
}
.un_businessField_list_item__col4 .un_businessField_list_item_desc {
    margin-left: 45px;
    @include mq(md) {
        margin-left: 0;
        padding: 13px 0 19px 0;
    }
}
.un_businessField_list_item__col1 .un_businessField_list_item_desc {
    margin-left: 68px;
    @include mq(md) {
        margin-left: 0;
    }
}
.un_businessField_list_item_desc_ttl {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 0;
    @include mq(md) {
        font-size: 2.4rem;
        line-height: func-em(32,24);
    }
}
.un_businessField_list_item_desc_txt {
    font-size: 1.8rem;
    font-weight: bold;
    @include mq(md) {
        font-size: 1.7rem;
    }
}
.un_businessField_list_item_img {
    width: 100%;
    height: auto;
    @include mq(md) {
        margin-top: 16px;
    }
}
.un_businessField_list_item_img__col3 {
    max-width: 264px;
}
.un_businessField_list_item_img__col4 {
    max-width: 205px;
}
.un_businessField_list_item_img__col1 {
    max-width: 218px;
}

.un_businessFieldBtnWrapper {
    text-align: center;
    width: 100%;
    padding: 0 20px;
    max-width: 400px;
    margin: 0 auto;
}
.el_btn.un_businessFieldBtn {
    font-size: 1.7rem;
    width: 100%;
}