@import "settings";

.ly_links {
    margin: 36px 0 287px 0;
    @include mq(md) {
        margin: 87px 0 98px 0;
    }
}

.un_links_list {

}
.un_links_item {
    
}
.un_links_item_link {
    font-size:  1.8rem;
    line-height: func-em(42,18);
}