@import "settings";

.ly_topTopics_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
}
.el_topCenetence{
padding-bottom: 30px;
}

.un_topBusinessWrapper{
    text-align: center;
    .un_topBusinessBtn{
        width: 310px;
        font-size: 1.7rem;
    }
}