@import "settings";


.bl_top_lv2heading{
	font-size: 6rem;
	line-height: 1;
	margin-bottom: 0.3em;
	@include mq(sm) {
		font-size: 3rem;
	  }
}

.bl_top_lv2headingDecoration{
	display: block;
	line-height: 1;
	// margin-top: 12px;
	font-size: 1.2rem;
	padding: 1em;
}
.un_topMv{
	padding: 0 24px;
	margin-top: 5.2em;
	@include mq(md) {
		margin-top: 5.2em;
	  }
	  @include mq(sm) {
		padding: 0 16px;
	  }
}


/*---------------------------------
  mv
---------------------------------*/
.ly_mainVisual{
	background: rgb(252,97,64);
background: linear-gradient(90deg, rgba(252,97,64,1) 0%, rgba(244,133,43,1) 100%);
}

/*---------------------------------
	introduction
---------------------------------*/
.ly_introduction_inner{
	max-width: 1024px;
	margin-right: auto;
	margin-left: auto;
}
.un_point_list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	
}
.un_point_list.un_point_list-short{
	max-width: 662px;
	margin-right: auto;
	margin-left: auto;
}
.un_point_item{
	width: calc(300px);
	margin-bottom: 88px;
	background: #FFFFFF;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
border-radius: 15px;
text-align: center;
padding: 27px 40px;
}


.ly_solution{
padding: 96px 0 90px;
background: linear-gradient(180deg, rgba(253, 97, 79, 0.3) 0%, rgba(244, 134, 42, 0.3) 100%);
}
.un_solution_body{
	display: flex;
	justify-content: space-between;
}
.un_solution_image{
	flex: 1;
}
.un_solution_cont{
	flex: 1;
	padding-top: 24px;
}

/*---------------------------------
  overseas
---------------------------------*/
.ly_overseas{
	background-color: #fff;
}
.un_overseas_list{
	display: flex;
}
.un_overseas_lv3Heading{
	text-align: center;
	font-weight: bold;
}

/*---------------------------------
  design
---------------------------------*/
.ly_design{
	text-align: center;
	background-color: #FA6C45;
	color: #fff;
}

/*---------------------------------
 feature
---------------------------------*/
.ly_feature{
	background-color: #fff;
	text-align: center;
}.un_feature_list{
	display: flex;
	flex-wrap: wrap;
}
.un_feature_item{
	width: 33%;
	img{
		width: 100%;
	}
	text-align: center;
}