@import "settings";

.hp_textCenter {
	text-align: center !important;
}

.hp_textRight {
	text-align: center !important;
}

.hp_pcOnly {
	display: block !important;
	@include mq(md) { 
		display: none !important;
    }
}

.hp_spOnly {
	display: none !important;
	@include mq(md) { 
		display: block !important;
    }
}

.hp_rowReverse {
	flex-direction: row-reverse !important;
}

.hp_textRight {
	text-align: right !important;
}

.hp_textLeft {
	text-align: left !important;
}
.hp_noWrap{
	white-space: nowrap;
}
.hp_noLRPadding{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.hp_noShow{
	display: none!important;
}

.hp_pt2em{
	padding-top: 2em !important;
}
.hp_mt2em{
	margin-top: 2em !important;
}
.hp_mb1em{
	margin-bottom: 1em !important;
}
.hp_mb4em{
	margin-bottom: 4em !important;
}

.hp_mb6em{
	margin-bottom: 6em !important;
}

.hp_smallTitle{
	font-size: 0.5em !important;
}

.hp_mt0{
	padding-right: 1em !important;
}

.hp_pr1em{
	padding-right: 1em !important;
}
.hp_pb1em{
	padding-bottom: 1em !important;
}
.hp_flex1{
	flex: 1;
}
.hp_flex2{
	flex: 2;
}
.hp_flex3{
	flex: 3;
}

.hp_w100{
	width: 100% !important;
}
.hp_mailIcon{
	position: relative;
	padding-left: 1em;
}
.hp_mailIcon::before{
	position: absolute;
	content: "";
	background-image: url(../../images/common/mail_icon.svg);
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top: 64%;
	left: -0.2em;
	transform: translate(-50%, -50%);
	width: 1.5em;
	height: 1.5em;
}
.hp_arrowIcon{
	position: relative;
	padding-left: 1em;
}
.hp_arrowIcon::before{
	position: absolute;
	content: "";
	background-image: url(../../images/common/arrow.svg);
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	left: -0.2em;
	transform: translate(0%, -50%);
	width: 1.5em;
	height: 1.5em;
}
.hp_arrowIcon.hp_arrowIcon__blue::before{
	background-image: url(../../images/common/arrow_blue.svg);
}
.hp_bgSub{
	background-color: $cr-sub;
}

.hp_contentnone{
	&::before,	&::after{
		content: none;
	}
}
.hp_spContentNone{
	@include mq(md) { 
		&::before,	&::after{
			content: none;
		}
    }
}

.hp_pointerNone{
	pointer-events: none;
}
