@import "settings";


.anime_card{
    overflow: hidden;
    // box-sizing: content-box;
}
.anime_card img{
    transition: 0.5s;
    filter: blur(0px);
}
.anime_card:hover img{
    filter: blur(1px);
    opacity: 0.9;
}

.anime_card:hover .un_topTopics_item_text{
opacity: 0.8;
}

.anime_hoverFade:hover{
	opacity: 0.5;
}

.anime_hoverItem{
	transition: 0.8s;
	.bl_imgWrapper{
		overflow: hidden;
	}
	img{
		transition: 0.6s;
	}
	&:hover{
		// opacity: 0.8;
		img{
			transition: 0.6s;
			transform: scale(1.2);
		}
	}
}
.bl_bussinesLink_item.anime_hoverItem{

	.bl_bussinesLink_item_inner{
		transition: 0.6s;
	}
	&:hover{		// opacity: 0.8;
		.bl_bussinesLink_ttl{
			// color: $cr-main;

		}
		.bl_bussinesLink_item_inner{
			transition: 0.6s;
			// background-color: #fff;
			
		box-shadow: 0 4px 8px gray;

		}

	}
}
.anime_hoverMainColor{
&:hover{
	color: $cr-main;
}
}
.anime_hoverOpacity{
	transition: 0.8;
	&:hover{
		opacity: 0.8;
	}
}