@import "settings";

.trial_report-template-default{
  .ly_report-inner{
    max-width: 840px;
  }
.ly_page p{
margin-bottom: 1em;
font-size: 1.8rem;
}
.ly_page li{
  font-size: 1.8rem;
}
.wp-block-media-text{
  background-color: #eee;
  padding: 0.5em;
  margin-bottom: 1em;
}

h3{
  font-size: 2.4rem;
  margin-bottom: 1em;
  border-bottom: 1px solid #333;
  margin-top: 2em;
  font-weight: bold;
}
h4{
  font-size: 2.4rem;
  margin-top: 1em;
  font-weight: bold;
}
p.un_trial_introduction{
  font-size: 2.4rem;
}
}
.el_trialLv1heading{
  font-size: 3rem;
  font-weight: normal;
  // margin-bottom: 0.8em;
  line-height: 1;
  margin-top: 120px;

  @include mq(md) { 
      margin-top: 2em;
      font-size: 5rem;
  }
    
}
.un_trialLv1heading{
  font-size: 5rem;
  border-bottom: 1px solid #333;
  padding-bottom: 0.05em;
  margin-bottom: 0.5em;
}

.ly_page{
  h2,h3,h4,h5,h6{
    margin-bottom: 0.8em;
  }
}
.ly_page p{
margin-bottom: 1EM;

  }