/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

.anime_card {
	overflow: hidden;
}

.anime_card img {
	-webkit-transition: 0.5s;
	-webkit-filter: blur(0px);
	filter: blur(0px);
	transition: 0.5s;
}

.anime_card:hover img {
	-webkit-filter: blur(1px);
	filter: blur(1px);
	opacity: 0.9;
}

.anime_card:hover .un_topTopics_item_text {
	opacity: 0.8;
}

/*全共通*/

.bgextend {
	-webkit-animation-name: bgextendAnimeBase;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-name: bgextendAnimeBase;
	display: inline-block; /*　はみ出た色要素を隠す　*/
	opacity: 0;
	overflow: hidden;
	position: relative;
}

/*中の要素*/

.bgappear {
	-webkit-animation-name: bgextendAnimeSecond;
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 0.6s;
	-webkit-animation-fill-mode: forwards;
	animation-delay: 0.6s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-name: bgextendAnimeSecond;
	opacity: 0;
}

/*左から右*/

.bgLRextend::before {
	-webkit-animation-name: bgLRextendAnime;
	-webkit-animation-duration: 1.0s;
	-webkit-animation-fill-mode: forwards;
	animation-duration: 1.0s;
	animation-fill-mode: forwards;
	animation-name: bgLRextendAnime;
	background-color: #666;
	content: "";
	height: 4px;
	position: absolute;
	top: 32%;
	width: 100%; /*伸びる背景色の設定*/
}

.bgLRextend.bgextend--white::before {
	background-color: #fff;
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/

.bgappearTrigger,
.bgLRextendTrigger {
	opacity: 0;
}

.anime_fadeUp {
	-webkit-animation-name: fadeUpAnime;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-fill-mode: forwards;
	animation-duration: 0.8s;
	animation-fill-mode: forwards;
	animation-name: fadeUpAnime;
	opacity: 0;
}

.delayTime01 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.delayTime02 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.delayTime03 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.delayTime04 {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.delayTime05 {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.delayTime06 {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

.delayTime07 {
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

.delayTime08 {
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}

.js_eachTextAnime span {
	left: -10px;
	opacity: 0;
	position: relative;
}

.js_eachTextAnime.appeartext span {
	-webkit-animation: text_anime_on 1s ease-out forwards;
	animation: text_anime_on 1s ease-out forwards;
}

.js_eachTextAnime.el_lv1heading--1::after {
	-webkit-transition: 1.5s;
	opacity: 0;
	transition: 1.5s;
	width: 0;
}

.js_eachTextAnime.appeartext.el_lv1heading--1::after {
	opacity: 1;
	width: calc(100% - 18px);
}

.anime_hoverFade:hover {
	opacity: 0.5;
}

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	overflow: auto !important;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #F9F9F9;
	color: #000;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 1.5;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-wrap: break-word;
	overflow-x: hidden;
}

h2,
h3,
h4,
h5 {
	font-weight: normal;
}

h2 {
	font-size: 3.2rem;
	margin: 0;
}

h3 {
	font-size: 18px;
	margin-bottom: 20px;
}

li {
	list-style: none;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: bottom;
}

em {
	font-style: initial;
}

button:focus {
	outline: 0;
}

li {
	list-style: none;
}

.ly_inner {
	margin: 0 auto;
	max-width: 1000px;
}

.ly_sec {
	margin-bottom: 5em;
}

/*!
 * ress.css • v3.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */

/* # =================================================================
   # Global selectors
   # ================================================================= */

html {
	-webkit-box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	box-sizing: border-box;
	tab-size: 4; /* Prevent adjustments of font size after orientation changes in iOS */
	word-break: normal;
}

*,
::before,
::after { /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
	-webkit-box-sizing: inherit;
	background-repeat: no-repeat;
	box-sizing: inherit;
}

::before,
::after {
	text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
	vertical-align: inherit;
}

* { /* Reset `padding` and `margin` of all elements */
	margin: 0;
	padding: 0;
}

/* # =================================================================
	 # General elements
	 # ================================================================= */

hr { /* Show the overflow in Edge and IE */
	height: 0;
	overflow: visible; /* Add the correct box sizing in Firefox */
}

details,
main {
	display: block; /* Render the `main` element consistently in IE. */
}

summary {
	display: list-item; /* Add the correct display in all browsers */
}

small {
	font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
	display: none; /* Add the correct display in IE */
}

abbr[title] {
	-webkit-text-decoration: underline dotted;
	border-bottom: none; /* Remove the bottom border in Chrome 57 */ /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
	text-decoration: underline;
	text-decoration: underline dotted;
}

a {
	background-color: transparent; /* Remove the gray background on active links in IE 10 */
	color: inherit;
	text-decoration: none;
}

a:active,
a:hover {
	outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
	font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
	font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* # =================================================================
	 # Forms
	 # ================================================================= */

input {
	border-radius: 0;
}

/* Replace pointer cursor in disabled elements */

[disabled] {
	cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
	-webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
	outline-offset: -2px; /* Correct the outline style in Safari */
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
	overflow: auto; /* Internet Explorer 11+ */
	resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
	font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
	font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
	overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
	text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */

button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
	color: inherit;
	cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/* Replace focus style removed in the border reset above */

button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */

button,
input,
select,
textarea {
	background-color: transparent;
	border-style: none;
}

/* Style select like a standard input */

select {
	background-color: #fff;
	border: #707070 solid 1px;
	border-radius: 3px;
	display: inline-block;
	outline: none;
	padding: 0.2em 0.5em;
	width: 100%;
}

select::-ms-expand {
	display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
	color: currentColor; /* Internet Explorer 11+ */
}

legend {
	border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
	color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
	display: table; /* Correct the text wrapping in Edge and IE */
	max-width: 100%; /* Correct the text wrapping in Edge and IE */
	max-width: 100%; /* Correct the text wrapping in Edge and IE */
	white-space: normal; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button { /* Correct the inability to style clickable types in iOS and Safari */
	-webkit-appearance: button;
	color: inherit;
	font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
	 # Specify media element style
	 # ================================================================= */

img {
	border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */

progress {
	vertical-align: baseline;
}

/* # =================================================================
	 # Accessibility
	 # ================================================================= */

/* Hide content from screens but not screenreaders */

/* Specify the progress cursor of updating elements */

[aria-busy="true"] {
	cursor: progress;
}

/* Specify the pointer cursor of trigger elements */

[aria-controls] {
	cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */

[aria-disabled] {
	cursor: default;
}

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

.breadcrumbs {
	margin-bottom: 3.375em;
	margin-top: 1.25em;
}

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

.el_btn {
	background-color: #00387C;
	color: #fff;
	display: inline-block;
	font-size: 1.6rem;
	font-weight: 700;
	padding: 1em 0em 1em 1em;
	text-align: center;
	width: 166px;
}

.el_btn.el_btn__contact {
	background-color: #00387C;
	color: #fff;
	font-size: 2.1rem;
	font-weight: 700;
	padding: 1em 0em 1em 0em;
	width: 237px;
}

.el_btn.el_btn__bgSub {
	background-color: #AEEAF8;
	color: #00387C;
	width: 100%;
}

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

.bl_bussinesLink_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: -20px;
}

.bl_bussinesLink_item {
	padding-left: 20px;
	width: 300px;
}

.bl_bussinesLink_item.bl_bussinesLink_item__large {
	width: 420px;
}

.bl_bussinesLink_item_inner {
	background-color: #00387C;
	padding: 10px 0px 0px;
	text-align: center;
}

.bl_bussinesLink_item_body {
	padding: 0px 16px 16px;
}

.bl_bussinesLink_thumb {
	-o-object-fit: cover;
	height: 200px;
	object-fit: cover;
}

.bl_bussinesLink_ttl {
	color: #fff;
	font-size: 2.2rem;
	padding-top: 16px;
	text-align: center;
}

.bl_bussinesLink_btn {
	display: block;
}

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

.bl_card {
	-ms-flex-wrap: wrap;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}

.bl_card.bl_card__3col .bl_card_item {
	width: 33%;
}

.bl_card_item {
	margin-bottom: 25px;
}

.bl_card_lv3Heading {
	color: #00387C;
	font-weight: 700;
	letter-spacing: 0.1em;
	line-height: 1.44444em;
	margin-bottom: 0;
	padding-top: 0.75em;
	text-align: center;
}

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

.ly_footer {
	border-top: 1px solid #D0D0D0;
	padding-top: 56px;
}

.ly_footer_inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 1230px;
	padding-left: 15px;
	padding-right: 15px;
}

.bl_footerNav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 48px;
}

.bl_footerNav_item {
	padding-right: 3.45em;
}

.bl_footerNav01 .bl_footerNav_item:first-of-type {
	padding-right: 5.7em;
}

.bl_footerNav_item > *:last-child {
	margin-bottom: 0;
}

.bl_footerNav_item:last-child .bl_footerNav_link::after {
	content: none;
}

.bl_footerNav_link {
	display: block;
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 10px;
	position: relative;
	text-decoration: none;
}

.bl_footerNav_link:focus,
.bl_footerNav_link:hover {
	text-decoration: underline;
}

.bl_footerChildNav { /* css-wipeではスタイリングなし */
}

.bl_footerChildNav_item {
	margin-bottom: 10px;
}

.bl_footerChildNav_link {
	font-size: 1.5rem;
	text-decoration: none;
}

.bl_footerChildNav_link:focus,
.bl_footerChildNav_link:hover {
	text-decoration: underline;
}

.ly_copyright {
	background-color: #00387C;
}

.el_footerCopyright {
	color: #ddd;
	display: block;
	font-size: 1.2rem;
	padding: 1.91667em 0 1.66667em;
	text-align: center;
}

.ly_footerBottom {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	padding-bottom: 46px;
}

.bl_footerBottomNav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.bl_footerBottomNav_link {
	padding: 1em;
	position: relative;
}

.bl_footerBottomNav_link::after {
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	background-color: #000;
	content: '';
	height: 1em;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
}

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

.ly_header {
	border-bottom: 1px solid #ddd;
	padding-top: 20px;
}

.ly_header_inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 1230px;
	padding-left: 15px;
	padding-right: 15px;
}

.bl_headerUtils {
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	padding-left: 2em;
}

.bl_headerUtilsRight {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.bl_headerUtilsRight_centence {
	color: #00387C;
	font-size: 20px;
	padding-right: 1.2em;
}

.bl_headerUtilsLeft {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.bl_headerUtils_logo {
	padding-right: 24px;
}

.bl_headerNav {
	-ms-flex-pack: distribute;
	background-color: #E2F9FF;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-around;
}

.bl_headerNav_item {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	text-align: center;
}

.bl_headerNav_item:last-child .bl_headerNav_link::after {
	content: none;
}

.bl_headerNav_link {
	-webkit-transition: .25s;
	border-bottom: 4px solid transparent;
	color: #222;
	display: block;
	font-size: 2.2rem;
	padding: 24px 5px;
	position: relative;
	text-decoration: none;
	transition: .25s;
}

.bl_headerNav_link::after {
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	background-color: #000;
	content: '';
	height: 54px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 3px;
}

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

.el_topLv2Heading {
	color: #00387C;
	font-weight: bold;
	margin-bottom: 16px;
}

.el_topLv2Heading.el_topLv2Heading__hasBorder {
	border-bottom: 14px solid #00387C;
	padding-bottom: 4px;
}

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

.bl_topics { /* css-wipeではスタイリングなし */
}

.bl_topics_item {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: 1px solid #707070;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 15px;
	padding-top: 15px;
}

.bl_topics_item:first-child {
	border-top: 1px solid #707070;
}

.bl_topics_header {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.bl_topics_itemTag {
	background-color: #2F8B87;
	border-radius: 12px;
	color: #fff;
	display: inline-block;
	font-size: 1.6rem;
	margin-right: 10px;
	padding: 0.5em 1em;
}

.bl_topics_date {
	font-size: 1.6rem;
	margin-right: 1em;
}

.bl_topics_ttl {
	text-decoration: none;
}

.bl_topics_ttl:focus,
.bl_topics_ttl:hover {
	text-decoration: underline;
}

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

.hp_textCenter {
	text-align: center !important;
}

.hp_pcOnly {
	display: block !important;
}

.hp_spOnly {
	display: none !important;
}

.hp_rowReverse {
	-webkit-box-orient: horizontal !important;
	-webkit-box-direction: reverse !important;
	-ms-flex-direction: row-reverse !important;
	flex-direction: row-reverse !important;
}

.hp_textRight {
	text-align: right !important;
}

.hp_textLeft {
	text-align: left !important;
}

.hp_noWrap {
	white-space: nowrap;
}

.hp_noLRPadding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.hp_noShow {
	display: none !important;
}

.hp_pt2em {
	padding-top: 2em !important;
}

.hp_mt2em {
	margin-top: 2em !important;
}

.hp_mb1em {
	margin-bottom: 1em !important;
}

.hp_mb4em {
	margin-bottom: 4em !important;
}

.hp_mb6em {
	margin-bottom: 6em !important;
}

.hp_smallTitle {
	font-size: 0.5em !important;
}

.hp_mt0 {
	padding-right: 1em !important;
}

.hp_pr1em {
	padding-right: 1em !important;
}

.hp_pb1em {
	padding-bottom: 1em !important;
}

.hp_flex1 {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.hp_flex2 {
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
}

.hp_flex3 {
	-webkit-box-flex: 3;
	-ms-flex: 3;
	flex: 3;
}

.hp_w100 {
	width: 100% !important;
}

.hp_mailIcon {
	padding-left: 1em;
	position: relative;
}

.hp_mailIcon::before {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-image: url(/images/common/mail_icon.svg);
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	height: 1.5em;
	left: -0.2em;
	position: absolute;
	position: absolute;
	top: 64%;
	transform: translate(-50%, -50%);
	width: 1.5em;
}

.hp_arrowIcon {
	padding-left: 1em;
	position: relative;
}

.hp_arrowIcon::before {
	-webkit-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	background-image: url(/images/common/arrow.svg);
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	height: 1.5em;
	left: -0.2em;
	position: absolute;
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
	width: 1.5em;
}

.hp_arrowIcon.hp_arrowIcon__blue::before {
	background-image: url(/images/common/arrow_blue.svg);
}

.hp_bgSub {
	background-color: #AEEAF8;
}

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

.ly_topMV {
	margin-bottom: 53px;
}

.ly_topMV img {
	width: 100%;
}

.ly_topTopics_head {
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	padding-bottom: 16px;
}

.el_topCenetence {
	padding-bottom: 30px;
}

.ly_topBusiness .un_topBusinessBtn {
	font-size: 1.7rem;
	width: 310px;
}

.un_topBusinessBtnWrapper {
	text-align: center;
}

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

/*tabの形状*/

/*liにactiveクラスがついた時の形状*/

/*エリアの表示非表示と形状*/

.area {
	display: none; /*はじめは非表示*/
	opacity: 0; /*透過0*/
}

/*areaにis-activeというクラスがついた時の形状*/

.area.is-active { /*表示*/
	-webkit-animation-name: displayAnime; /*ふわっと表示させるためのアニメーション*/
	-webkit-animation-duration: 2s;
	-webkit-animation-fill-mode: forwards;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-name: displayAnime;
	display: block;
}

/*使い方*/

/*呼び出したいところで、()内に上の値指定、（mdを書き換える）
  @include mq(md) { 
	color: yellow;
  }
  */

@media screen {

[hidden~="screen"] {
	display: inherit;
}

[hidden~="screen"]:not(:active):not(:focus):not(:target) {
	clip: rect(0 0 0 0) !important;
	position: absolute !important;
}

}

@media screen and (min-width: 768px) {

body {
	font-size: 1.6rem;
}

}

@media (max-width: 1000px) {

.ly_inner {
	padding-left: 30px;
	padding-right: 30px;
}

}

@media (max-width: 767px) {

.hp_pcOnly {
	display: none !important;
}

.hp_spOnly {
	display: block !important;
}

}

@-webkit-keyframes bgextendAnimeBase {

from {
	opacity: 0;
}

to {
	opacity: 1;
}

}

@keyframes bgextendAnimeBase {

from {
	opacity: 0;
}

to {
	opacity: 1;
}

}

@-webkit-keyframes bgextendAnimeSecond {

0% {
	opacity: 0;
}

100% {
	opacity: 1;
}

}

@keyframes bgextendAnimeSecond {

0% {
	opacity: 0;
}

100% {
	opacity: 1;
}

}

@-webkit-keyframes bgLRextendAnime {

0% {
	-webkit-transform-origin: left;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	transform-origin: left;
}

50% {
	-webkit-transform-origin: left;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	transform-origin: left;
}

50.001% {
	-webkit-transform-origin: right;
	transform-origin: right;
}

100% {
	-webkit-transform-origin: right;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	transform-origin: right;
}

}

@keyframes bgLRextendAnime {

0% {
	-webkit-transform-origin: left;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	transform-origin: left;
}

50% {
	-webkit-transform-origin: left;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	transform-origin: left;
}

50.001% {
	-webkit-transform-origin: right;
	transform-origin: right;
}

100% {
	-webkit-transform-origin: right;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	transform-origin: right;
}

}

@-webkit-keyframes fadeUpAnime {

from {
	-webkit-transform: translateY(100px);
	opacity: 0;
	transform: translateY(100px);
}

to {
	-webkit-transform: translateY(0);
	opacity: 1;
	transform: translateY(0);
}

}

@keyframes fadeUpAnime {

from {
	-webkit-transform: translateY(100px);
	opacity: 0;
	transform: translateY(100px);
}

to {
	-webkit-transform: translateY(0);
	opacity: 1;
	transform: translateY(0);
}

}

@-webkit-keyframes text_anime_on {

0% {
	opacity: 0;
}

100% {
	left: 0;
	opacity: 1;
}

}

@keyframes text_anime_on {

0% {
	opacity: 0;
}

100% {
	left: 0;
	opacity: 1;
}

}

@-webkit-keyframes displayAnime {

from {
	opacity: 0;
}

to {
	opacity: 1;
}

}

@keyframes displayAnime {

from {
	opacity: 0;
}

to {
	opacity: 1;
}

}

