@import "settings";
.bl_bussinesLink_list{
    display: flex;
    margin-left: -20px;
}
.bl_bussinesLink_item{
    padding-left: 20px;
    width: 300px;

}
.bl_bussinesLink_item.bl_bussinesLink_item__large{
    width: 420px;
}

.bl_bussinesLink_item_inner{
    padding-top: 10px;
    background-color: $cr-main;

}

.bl_bussinesLink_ttl{
    text-align: center;
    font-size: 2.2rem;
    color: #fff;
}