@import "settings";
.ly_footer {
	padding-top: 56px;
	border-top: 1px solid #D0D0D0;
  }
  
  
  .ly_footer_inner {
	max-width: 1230px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
  }
  
  .bl_footerNav {
	display: flex;
	margin-bottom: 48px;

  @include mq(md) {
    display: block;
  }
  }
  
  .bl_footerNav_item {
	  padding-right: 3.45em;
  }
  .bl_footerNav01{

	.bl_footerNav_item:first-of-type {
		padding-right: func-em(114,20);
	}
  }


  .bl_footerNav_item > *:last-child {
	margin-bottom: 0;
  }
  
  .bl_footerNav_item:last-child .bl_footerNav_link::after {
	content: none;
  }
  
  .bl_footerNav_link {
	position: relative;
	display: block;
	margin-bottom: 10px;
	text-decoration: none;
	font-size: 2rem;
	font-weight: bold;
  }
  
  .bl_footerNav_link:focus,
  .bl_footerNav_link:hover {
	text-decoration: underline;
  }
  

  .bl_footerChildNav {
	/* css-wipeではスタイリングなし */
  }
  
  .bl_footerChildNav_item {
	margin-bottom: 10px;
  }
  
  .bl_footerChildNav_link {
	font-size: 1.5rem;
	text-decoration: none;
  }
  
  .bl_footerChildNav_link:focus,
  .bl_footerChildNav_link:hover {
	text-decoration: underline;
  }
  .ly_copyright{
	background-color: $cr-main;
  }
  .el_footerCopyright {
	display: block;
	color: #ddd;
	font-size: 1.2rem;
	padding: func-em(23,12) 0 func-em(20,12);
	text-align: center;
  }

  .ly_footerBottom{
	  padding-bottom: 46px;
  }
  .bl_footerUtils{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    
  @include mq(md) {
    display: block;
  }
  }
  .bl_footerBottomNavLink{
	  display: flex;
    margin-left: -1em;
    @include mq(md) {
    flex-wrap: wrap;
    }

  }
  .bl_footerBottomNavLink_item{

  }
  .bl_footerBottomNavLink_item.bl_footerBottomNavLink_item__sp{
    width: 100%;
  }
  .bl_footerBottomNavLink_link{
	position: relative;
	padding: 1em;
  }
  .bl_footerBottomNavLink_link::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 1em;
    background-color: #000;
    transform: translateY(-50%);
  }
  
  .bl_CertificationItem{
    text-align: right;
  }