@import "settings";
.el_lv1Heading {
color:  #fff;
font-size:  3.2rem;
text-align:  center;
font-weight: bold;
letter-spacing: 0.2em;
line-height: func-em(50,32);
margin-bottom: 8px;
}
.el_lv1Heading_txt {
color:  #fff;
font-size:  1.8rem;
text-align:  center;
font-weight: bold;
letter-spacing: 0.2em;
line-height: func-em(32,18);
}

.el_topLv2Heading{
        color: $cr-main;
        font-weight: bold;
        margin-bottom: 16px;
}
.el_topLv2Heading.el_topLv2Heading__hasBorder{
border-bottom: 14px solid #00387C;
padding-bottom: 4px;
}