@import "settings";


.bl_bulletList {
    /* css-wipeではスタイリングなし */
  }
  
  .bl_bulletList > *:last-child {
    margin-bottom: 0;
  }
  
  .bl_bulletList > li {
    position: relative;
    margin-bottom: 1em;
  }
  