.ly_MV {
    background-size: cover;
    background-repeat: no-repeat;
    height: 510px;
    padding-top: 22.2222%;
    position: relative;
    @include mq(md) {
        height: 404px;
        margin-top: 82px;
    }
}
#businessField .ly_MV {
    background-image: url(../../images/businessField/mv.jpg);
    @include mq(md) {
        background-image: url(../../images/businessField/mv_sp.jpg);
    }
}
#landBroadband .ly_MV {
    background-image: url(../../images/landBroadband/mv.jpg);
    @include mq(md) {
        background-image: url(../../images/landBroadband/mv_sp.jpg);
    }
}
#highprecisionphysics .ly_MV {
    background-image: url(../../images/highprecisionphysics/mv.jpg);
    @include mq(md) {
        background-image: url(../../images/highprecisionphysics/mv_sp.jpg);
    }
}
#about .ly_MV {
    background-image: url(../../images/about/mv.jpg);
    @include mq(md) {
        background-image: url(../../images/about/mv_sp.jpg);
    }
}
#links .ly_MV {
    height: 180px;
    padding-top: 0;
    @include mq(md) {
        height: 200px;
    }
}
#carbonNeutral .ly_MV {
    height: 240px;
    padding-top: 0;
    @include mq(md) {
        height: 200px;
    }
}
.ly_MV_inner {
    background-color:  #00387C99;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    @include mq(md) {
        height: 200px;
    }
}
#landBroadband .ly_MV_inner {
    @include mq(md) {
        padding: 24px 0;
        height: auto;
    }
}
#links .ly_MV_inner {
    background-color:  $cr-main;
}

#carbonNeutral .ly_MV_inner {
    height: 240px;
    background-color:  $cr-main;
}
.ly_MV_inner__black {
    background-color:  #2B2B2B99;
}