@import "settings";


.js-tab-filter a {
	position: relative;
  }
  
  .js-tab-filter a.tab-active {
	background-color: #b0c1b9;
	color: #fff;
  }
  
  .is-animated {
	-webkit-animation: 0.6s zoom-in;
	animation: 0.6s zoom-in;
  }
  
  @media screen {
	[hidden~="screen"] {
	  display: inherit;
	}
  
	[hidden~="screen"]:not(:active):not(:focus):not(:target) {
	  clip: rect(0 0 0 0) !important;
	  position: absolute !important;
	}
  }
  

  @-webkit-keyframes zoom-in {
	0% {
	  -webkit-transform: scale(0.1);
	  transform: scale(0.1);
	}
  
	100% {
	  -webkit-transform: none;
	  transform: none;
	}
  }
  
  @keyframes zoom-in {
	0% {
	  -webkit-transform: scale(0.1);
	  transform: scale(0.1);
	}
  
	100% {
	  -webkit-transform: none;
	  transform: none;
	}
  }