@import "settings";
.bl_horizTable {

  }
  
  .bl_horizTable table {
    width: 100%;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-collapse:collapse;
  }
  
  .bl_horizTable th {
    width: 26%;
    padding: 15px;
    border-bottom: 1px solid #707070;
    font-weight: 500;
    vertical-align: top;
    text-align: left; 
    padding-left: 53px;
    line-height: func-em(32,18);
    font-size: 1.6rem;

    @include mq(md) {
      display: block;
      width: 100%;
      padding-left: 0;
      border-bottom: none;
      color: $cr-main;
      padding-bottom: 0;
      font-size: 1.4rem;
    }
  }
  
  .bl_horizTable td {
    padding: 15px;
    border-bottom: 1px solid #707070;
    font-size: 1.8rem;
    padding-left: 0;
    @include mq(md) {
      display: block;
      width: 100%;
      font-size: 1.6rem;
    }
    address{
        margin-bottom: func-em(40,18);
        font-size: 1.6rem;
        @include mq(md) {
          margin-bottom: func-em(34,16);
        }
        &:last-of-type{
            margin-bottom: 0;
        }
    }
  }
  
  .bl_horizTable tr:last-child th,
  .bl_horizTable tr:last-child td {
    border-bottom-width: 0;
  }
  