@import "settings";


.bl_topics {
    /* css-wipeではスタイリングなし */
  }
  
  .bl_topics_item {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #707070;
    display: flex;
    align-items: center;
    @include mq(md) { 
      display: block;
              }
  }
  
  .bl_topics_item:first-child {
    border-top: 1px solid #707070;
  }
  
  .bl_topics_header {
    display: flex;
    align-items: center;
    @include mq(md) { 
      margin-bottom: 15px;
              }
  }
  .bl_topics_itemTag{
    font-size: 1.6rem;
    color: #fff;
    border-radius: 12px;
    background-color: #2F8B87;
    padding: 0.5em 0.5em;
    margin-right: 10px;
    display: inline-block;
    min-width: 130px;
    text-align: center;
  }
  .bl_topics_itemTag.bl_topics_itemTag__news{
 background-color: #00387C;
  }
  .bl_topics_itemTag.bl_topics_itemTag__media{
    background-color: #00597C;
     }
  .bl_topics_date {
    font-size: 1.6rem;
    margin-right: 1em;
  }
  
  .bl_topics_ttl {
    text-decoration: none;
  }
  
  .bl_topics_ttl:focus,
  .bl_topics_ttl:hover {
    // text-decoration: underline;
    opacity: 0.8;
  }
  

  /*---------------------------------
  個別ページ
  ---------------------------------*/
  .ly_topic{
    padding-bottom: 96px;
    @include mq(md) { 
padding-bottom: 74px;
              }
    .bl_breadcrumbs_item_link{
      color: #808080;
    }
  }
  .un_topicBreadcrumbs{
    position: relative;
  }
.bl_topic_ttl{
  font-size: 3.2rem;
  font-weight: bold;
  line-height: func-em(50,32);
  padding-top: 16px;
  @include mq(md) { 
    font-size: 2.4rem;
            }
}
.bl_topic_header{
padding-top: 42px;
padding-bottom: 52px;
  @include mq(md) { 
padding-bottom: 20px;
padding-top: 112px;
            }
.bl_topics_date{
  font-size: 1.8rem;
}
}
.bl_topics_itemTag{
  
}
.bl_topic_contHeader{
  background-color: #EBEBEB;
  padding: 28px 0;
  .ly_inner{
    display: flex;
    justify-content: space-between;
  }
}

.bl_topicLv3Heading{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5em;
  @include mq(md) { 
    margin-top: func-em(30,18);
    font-size: 1.8rem;
            }
}
.bl_topicCentence{
  font-size: 1.8rem;
  line-height: func-em(40,18);
  letter-spacing: 0.06;
  margin-bottom: func-em(52,18);
  @include mq(md) { 
    font-size: 1.6rem;
    margin-bottom: func-em(30,16);
    line-height: func-em(28,16);
            }
}
.bl_topicImage{
  margin-bottom: 42px;
  @include mq(md) { 
    margin-bottom: 30px;
            }
}

.bl_topic_indexLink{
  font-size: 1.6rem;
  font-weight: bold;
}

.bl_topicFooter{
  margin-top: 109px;
  @include mq(md) { 
    margin-top: 74px;
            }
}

/*---------------------------------
  一覧ページ
---------------------------------*/
.ly_topics{
  padding-bottom: 276px;
  .ly_MV{
background-color: $cr-main;
height: 180px;
padding-top: 0;
  }
  .un_topicNav{
background-color: #00597C;
// height: 78px;
  }
  .bl_topics{
margin-top: 60px;
  }
}


.un_topicNav {
  display: flex;
  justify-content: center;
  margin: 0px 0 8px 0;
  padding: 30px 0;
  @include mq(md) {
      flex-wrap: wrap;
      justify-content: flex-start;
      max-width: 212px;
  }
}
.un_topicNav_item {
  padding: 0px 20px 0;
  position: relative;
  @include mq(md) {
      padding: 0;
      margin-bottom: 2px;
  }
}
.un_topicNav_item:nth-of-type(1),
.un_topicNav_item:nth-of-type(3) {
  @include mq(md) {
      padding-right: 30px;
  }
}
.un_topicNav_item:nth-of-type(2),
.un_topicNav_item:nth-of-type(4) {
  @include mq(md) {
      padding-left: 30px;
  }
}
.un_topicNav_item::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 20px;
  background-color: #ddd;
  transform: translateY(-50%);
}
.un_topicNav_item:nth-of-type(2).un_topicNav_item::after,
.un_topicNav_item:nth-of-type(4).un_topicNav_item::after {
  @include mq(md) {
      content: none;
  }
}
.un_topicNav_item:last-child.un_topicNav_item::after {
  content: none;
}

.un_topicNav_link {
  color: #fff;
  font-size: 2rem;
  @include mq(md) {
      font-size: 1.8rem;
  }
}
